
<!-- BEGIN forumrow -->

<!-- IF (forumrow.S_IS_CAT or forumrow.S_NO_CAT) and not forumrow.S_FIRST_ROW -->
</div>
</div>
<div class="box small-bottom-margin">
<div class="table-wrap">
<!-- ENDIF -->

<!-- IF forumrow.S_FIRST_ROW or forumrow.S_FIRST_ROW -->
<div class="box small-bottom-margin">
<div class="table-wrap">
<!-- ENDIF -->

	<!-- IF forumrow.S_IS_CAT or forumrow.S_FIRST_ROW or forumrow.S_NO_CAT -->
	<div class="table-head">		
		<div class="table-title-head">
			<!-- IF forumrow.S_IS_CAT --><a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a><!-- ELSE -->{L_FORUM}<!-- ENDIF -->
		</div>

		<div class="table-replies-head">{L_TOPICS} </div>
		<div class="table-views-head">{L_POSTS} </div>
		<div class="table-lastpost-head">{L_LAST_POST} </div>		
	</div>
	<!-- ELSE -->
	<div class="table-row">
		<div class="table-title">			
			<div class="table-titleicon" style="background-image: url({forumrow.FORUM_FOLDER_IMG_SRC});"></div>
			<div class="table-titletext">
				<!-- IF S_ENABLE_FEEDS and forumrow.S_FEED_ENABLED -->
				<a class="table-rssicon pull-right not-on-smartphone" title="{L_FEED} - {forumrow.FORUM_NAME}" href="{U_FEED}?f={forumrow.FORUM_ID}">
					<i class="icon-rss-sign"></i>
				</a>
				<!-- ENDIF -->                       				
					
				<!-- IF forumrow.FORUM_IMAGE -->
					<span class="">{forumrow.FORUM_IMAGE} </span>
				<!-- ENDIF -->
                        	
				<h4><a href="{forumrow.U_VIEWFORUM}" class="forumtitle">{forumrow.FORUM_NAME} </a></h4>
				
				<div class="table-titledesc">{forumrow.FORUM_DESC} </div>
				<div class="table-titlemeta">
				<!-- IF forumrow.MODERATORS -->
					<strong>{forumrow.L_MODERATOR_STR} :</strong> {forumrow.MODERATORS}
				<!-- ENDIF -->
				<!-- IF forumrow.SUBFORUMS and forumrow.S_LIST_SUBFORUMS --><strong>{forumrow.L_SUBFORUM_STR} </strong> {forumrow.SUBFORUMS} <!-- ENDIF -->
				</div>
			</div>			
		</div>			

		<!-- IF forumrow.CLICKS -->
		<div class="">
			<div class="ministat">
				{forumrow.CLICKS}
				<dfn>{L_REDIRECTS} </dfn>
			</div>
		</div>
		<!-- ELSEIF not forumrow.S_IS_LINK -->
		<div class="table-replies">
			<a class="ministat" href="<!-- IF forumrow.LAST_POST_LINK -->{forumrow.U_LAST_POST}<!-- ELSE -->#<!-- ENDIF -->">
				<span>{forumrow.TOPICS} <dfn>{L_TOPICS} </dfn></span>
			</a>
		</div>
		<div class="table-views">			
			<a class="ministat" href="<!-- IF forumrow.LAST_POST_LINK -->{forumrow.U_LAST_POST}<!-- ELSE -->#<!-- ENDIF -->">
				<span>{forumrow.POSTS} <dfn>{L_POSTS} </dfn></span>
			</a>
		</div>		
		<div class="table-lastpost">			
			<!-- IF forumrow.U_UNAPPROVED_TOPICS --><a href="{forumrow.U_UNAPPROVED_TOPICS}">{UNAPPROVED_IMG} </a><!-- ENDIF -->				
			<!-- IF forumrow.LAST_POST_TIME -->
				<!-- IF forumrow.LAST_POST_LINK --><i class="lastpost-topiclink">{forumrow.LAST_POST_LINK} </i><br /><!-- ENDIF -->
				<span class="lastpost-info">{L_LAST_POST} {L_POST_BY_AUTHOR} {forumrow.LAST_POSTER_FULL} </span>				
				<!-- IF not S_IS_BOT -->
					<a class="lastpost-desklink" href="{forumrow.U_LAST_POST}"><i class="icon-caret-right"></i></a>
				<!-- ENDIF -->
				{forumrow.LAST_POST}									
				<br class="lastpost-delimiter" />
				<span class="lastpost-time"><i class="icon-time"></i> {forumrow.LAST_POST_TIME} </span>
				<!-- IF not S_IS_BOT -->
					<a class="lastpost-smartlink" href="{forumrow.U_LAST_POST}"><i class="icon-caret-right"></i></a>
				<!-- ENDIF -->
			<!-- ELSE -->
				<span class="lastpost-info">{L_NO_POSTS} </span>
			<!-- ENDIF -->			
		</div>
		<!-- ENDIF -->
	</div>
	<!-- ENDIF -->

<!-- BEGINELSE -->
	<div class="panel">

		<strong>{L_NO_FORUMS}</strong>

	</div>
<!-- END forumrow -->
</div>
</div>
