<!-- INCLUDE overall_header.html -->

<div class="overboxctrl overbx-index<!-- IF not S_USER_LOGGED_IN --> overbx-notloggedin<!-- ENDIF -->">
	<div class="lastvisitcontainer">
		<ul class="inline pull-right lastvisit">
			<li class="not-on-smartphone">
				<!-- IF S_USER_LOGGED_IN -->
					<span class="lastvisit-welcome">Hi, <strong>{S_USERNAME}</strong>! </span>
				<!-- ENDIF -->
			</li>
			<li class="not-on-tab"><small><!-- IF S_USER_LOGGED_IN --><i class="fa fa-clock-o"></i> {LAST_VISIT_DATE}<!-- ENDIF --></small></li>
			<li class="not-on-smartphone">
				<small><i class="fa fa-clock-o"></i> {CURRENT_TIME} </small>
			</li>
		</ul>
	</div>

	<div class="overboxleft">
		<!-- IF U_MCP --><a href="{U_MCP}" class="btn btn-small btn-moderation not-on-smartphone"><i class="fa fa-cogs"></i> <span class="text"> {L_MCP}</span></a><!-- ENDIF -->

		<!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->
		<div class="btn-group">
                	<!-- IF U_MCP --><a href="{U_MCP}" class="btn btn-small btn-moderation only-on-smartphone"><i class="fa fa-cogs"></i></a><!-- ENDIF -->
			<!-- IF S_DISPLAY_SEARCH -->
				<a class="btn btn-small btn-unanswered" href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a>
			<!-- ENDIF -->
			<!-- IF S_DISPLAY_SEARCH -->
				<!-- IF S_LOAD_UNREADS --><a class="btn btn-small" href="{U_SEARCH_UNREAD}"><i class="fa fa-bell-o"></i>&nbsp;<span class="not-on-smartphone">{L_SEARCH_UNREAD}</span></a><!-- ENDIF -->
				<a class="btn btn-small btn-last <!-- IF not S_USER_LOGGED_IN -->btn-index-active<!-- ENDIF -->" href="{U_SEARCH_ACTIVE_TOPICS}">
					<i class="fa fa-fire"></i>&nbsp;<span<!-- IF S_USER_LOGGED_IN --> class="not-on-smartphone"<!-- ENDIF -->>{L_SEARCH_ACTIVE_TOPICS} </span>
				</a>
				<!-- IF S_USER_LOGGED_IN --><a class="btn btn-small" href="{U_SEARCH_NEW}"><i class="fa fa-certificate"></i>&nbsp;<span class="not-on-smartphone">{L_SEARCH_NEW}</span></a><!-- ENDIF -->
			<!-- ENDIF -->
		</div>
		<!-- ENDIF -->

		<!-- IF not S_USER_LOGGED_IN -->
			<a class="btn btn-small" id="index-registerbtn" href="{U_REGISTER}"><i class="fa fa-edit"></i> {L_REGISTER} </a>
		<!-- ENDIF -->

		<!-- IF not S_IS_BOT and U_MARK_FORUMS -->
			<a class="btn btn-small btn-markforums not-on-smartphone" href="{U_MARK_FORUMS}" accesskey="m"><i class="fa fa-check"></i> {L_MARK_FORUMS_READ}</a>
		<!-- ENDIF -->
	</div>
</div>

<!-- INCLUDE forumlist_body.html -->

<div class="well who-is-online">
<!-- IF S_DISPLAY_ONLINE_LIST -->
	<!-- IF U_VIEWONLINE --><h3><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3><!-- ELSE --><h3>{L_WHO_IS_ONLINE}</h3><!-- ENDIF -->
	<p>{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /> <br />{LOGGED_IN_USER_LIST}
	<!-- IF LEGEND --><br /><em>{L_LEGEND}: {LEGEND}</em><!-- ENDIF --></p>
<!-- ENDIF -->

<!-- IF S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST -->
	<h3>{L_BIRTHDAYS}</h3>
	<p><!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <strong>{BIRTHDAY_LIST}</strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF --></p>
<!-- ENDIF -->

<!-- IF NEWEST_USER -->
	<h3>{L_STATISTICS}</h3>
	<p>{TOTAL_POSTS} &bull; {TOTAL_TOPICS} &bull; {TOTAL_USERS} &bull; {NEWEST_USER}</p>
<!-- ENDIF -->
</div>
<!-- INCLUDE overall_footer.html -->