	<div class="well" id="well-footer">
			<ul class="well-footer-left">
				<li><a class="responsivenavitem firstitem" href="{U_INDEX}" accesskey="h"><i class="fa fa-home"></i> {L_INDEX}</a></li>
				<!-- IF not S_IS_BOT -->
					<!-- IF S_WATCH_FORUM_LINK -->
					<li><a class="responsivenavitem" href="{S_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}"><i <!-- IF S_WATCHING_FORUM -->class="fa fa-eye-slash"<!-- ELSE -->class="fa fa-eye"<!-- ENDIF -->></i> {S_WATCH_FORUM_TITLE}</a></li>
					<!-- ENDIF -->
					<!-- IF U_WATCH_TOPIC -->
					<li><a class="responsivenavitem" href="{U_WATCH_TOPIC}" title="{L_WATCH_TOPIC}"><i <!-- IF S_WATCHING_TOPIC -->class="fa fa-eye-slash"<!-- ELSE -->class="fa fa-eye"<!-- ENDIF -->></i> {L_WATCH_TOPIC}</a></li><!-- ENDIF -->
					<!-- IF U_BOOKMARK_TOPIC -->
					<li><a class="responsivenavitem" href="{U_BOOKMARK_TOPIC}" title="{L_BOOKMARK_TOPIC}"><i class="fa fa-bookmark"></i> {L_BOOKMARK_TOPIC}</a></li><!-- ENDIF -->
					<!-- IF U_BUMP_TOPIC -->
					<li><a class="responsivenavitem" href="{U_BUMP_TOPIC}" title="{L_BUMP_TOPIC}"><i class="fa fa-upload"></i> {L_BUMP_TOPIC}</a></li><!-- ENDIF -->
				<!-- ENDIF -->
			</ul>

			<ul class="well-footer-right">
				<!-- IF U_TEAM --><li><a class="responsivenavitem firstitem" href="{U_TEAM}"><i class="fa fa-group"></i> {L_THE_TEAM}</a></li><!-- ENDIF -->
				<!-- IF not S_IS_BOT --><li><a class="responsivenavitem" href="{U_DELETE_COOKIES}"><i class="fa fa-trash-o"></i> {L_DELETE_COOKIES}</a></li><!-- ENDIF -->
				<li><div class="responsivenavitem"><i class="fa fa-globe"></i> {S_TIMEZONE} </div></li>
			</div>
	</div>


</div><!-- wrap -->

<div class="pagefooter">
	<a id="bottom" name="bottom" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
	<div class="copyright text-center">
		<small>{CREDIT_LINE}
		<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
		</small>
	</div>
	<div class="pull-right">
		<small><a href="#wrap" title="{L_BACK_TO_TOP}">{L_BACK_TO_TOP} </a></small>
	</div>
</div>

</body>
</html>