
<hr />

<form method="post" action="{U_QR_ACTION}">
	<div class="box small-padding" id="qr_ns_editor_div">

		<div class="header"><h4>{L_QUICKREPLY} </h4></div>
		<div class="tablerow">
			<div class="medium-left-margin">
				<fieldset class="fields1 quickreply-editor">
					<div><label class="strong greylabel" style="line-height:30px;" for="subject">{L_SUBJECT}:</label></div>
					<div><input type="text" name="subject" id="subject-ns" size="45" maxlength="64" tabindex="2" value="{SUBJECT}" class="inputbox autowidth" /></div>
					<div id="message-box-ns">
						<textarea style="height: 9em;" name="message" rows="7" cols="76" tabindex="3" class="inputbox"></textarea>
					</div>
				</fieldset>
				<div class="quickreply-buttons">
					<fieldset class="pull-right">
						{S_FORM_TOKEN}
						{QR_HIDDEN_FIELDS}
						<input type="submit" accesskey="s" tabindex="6" name="post" value="{L_SUBMIT}" class="btn btn-small strong" />&nbsp;
						<input type="submit" accesskey="f" tabindex="7" name="full_editor" value="{L_FULL_EDITOR}" class="btn btn-small" />&nbsp;
					</fieldset>
				</div>
			</div>
		</div>
	</div>
</form>