
<hr />

<div class="box small-bottom-margin small-padding" id="qr_ns_editor_div">
	<form method="post" action="{U_QR_ACTION}">

		<div class="quickreply-header"><h4>{L_QUICKREPLY} </h4></div>
		<div class="tablerow">
			<div>
				<fieldset class="fields1 quickreply-editor">
					<div class="small-bottom-margin">
						<label class="strong greylabel" style="line-height:30px;" for="subject">{L_SUBJECT}:</label><br />
						<input type="text" name="subject" id="subject-ns" size="45" maxlength="64" tabindex="2" value="{SUBJECT}" placeholder="{L_SUBJECT}" />
					</div>
					<div id="message-box-ns">
						<textarea style="height: 9em; width: 100%;" name="message" rows="7" cols="76" tabindex="3" class="inputbox"></textarea>
					</div>
				</fieldset>
				<div class="submitrow small-top-margin">
					<fieldset>
						{S_FORM_TOKEN}
						{QR_HIDDEN_FIELDS}
						<input type="submit" accesskey="s" tabindex="6" name="post" value="{L_SUBMIT}" class="btn btn-small strong" />&nbsp;
						<input type="submit" accesskey="f" tabindex="7" name="full_editor" value="{L_FULL_EDITOR}" class="btn btn-small" />&nbsp;
					</fieldset>
				</div>
			</div>
		</div>
	</form>
</div>