<!-- INCLUDE ucp_header.html -->

<form id="postform" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<h2>{L_TITLE}</h2>

<div class="panel">


	<p class="description">{L_DRAFTS_EXPLAIN}</p>

<!-- IF S_EDIT_DRAFT -->

	<div class="posting-container box small-padding small-bottom-margin">
		<!-- INCLUDE posting_editor.html -->
	</div>

	<fieldset>
		{S_FORM_TOKEN}
		{S_HIDDEN_FIELDS}
	</fieldset>
	<fieldset class="btn-group pull-right">
		<input type="reset" value="{L_RESET}" name="reset" class="btn btn-small" />
		<input type="submit" name="submit" value="{L_SAVE}" class="btn btn-small strong" />
	</fieldset>

<!-- ELSE -->

	<!-- IF .draftrow -->
		<div class="box small-padding small-bottom-margin">
			<div class="header row-fluid">
				<div class="span6">{L_DRAFT_TITLE} </div>
				<div class="span3"><span>{L_SAVE_DATE} </span></div>
				<div class="span3">{L_MARK} </div>
			</div>

		<!-- BEGIN draftrow -->
			<div class="row-fluid tablerow <!-- IF draftrow.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
				<div class="span6">
					<a class="topictitle" href="{draftrow.U_VIEW_EDIT}"><h4>{draftrow.DRAFT_SUBJECT} </h4></a>
					<!-- IF draftrow.S_LINK_TOPIC -->{L_TOPIC}: <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a>
					<!-- ELSEIF draftrow.S_LINK_FORUM -->{L_FORUM}: <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a>
					<!-- ELSEIF S_PRIVMSGS -->
					<!-- ELSE -->{L_NO_TOPIC_FORUM}<!-- ENDIF -->
				</div>
				<div class="span3"><span>{draftrow.DATE}<br /><!-- IF draftrow.U_INSERT --><a href="{draftrow.U_INSERT}">{L_LOAD_DRAFT}</a> &bull; <!-- ENDIF --><a href="{draftrow.U_VIEW_EDIT}">{L_VIEW_EDIT}</a></span></div>
				<div class="span3"><input type="checkbox" name="d[{draftrow.DRAFT_ID}]" id="d{draftrow.DRAFT_ID}" /></div>
			</div>
		<!-- END draftrow -->
		</div>
	<!-- ELSE -->
		<p><strong>{L_NO_SAVED_DRAFTS}</strong></p>
	<!-- ENDIF -->


</div>

	<!-- IF .draftrow -->
		<fieldset>
			{S_FORM_TOKEN}
		</fieldset>
		<fieldset class="btn-group pull-right">
			<input class="btn btn-small strong" type="submit" name="delete" value="{L_DELETE_MARKED}" />
			<a class="btn btn-small" href="#" onclick="marklist('postform', '', true); return false;">{L_MARK_ALL} </a>
			<a class="btn btn-small" href="#" onclick="marklist('postform', '', false); return false;">{L_UNMARK_ALL} </a>
		</fieldset>
	<!-- ENDIF -->

<!-- ENDIF -->

</form>

<!-- INCLUDE ucp_footer.html -->