<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<h2>{L_TITLE}</h2>

<p class="description">{L_WATCHED_EXPLAIN}</p>

<div class="panel">

<!-- IF .forumrow -->
	<div class="box small-bottom-margin">
		<div class="header">
			<div class="row-fluid">
				<dt class="span6">{L_WATCHED_FORUMS}</dt>
				<dd class="span4">{L_LAST_POST}</dd>
				<dd class="span2">{L_MARK}</dd>
			</div>
		</div>

	<!-- BEGIN forumrow -->
		<div class="tablerow <!-- IF forumrow.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
			<div class="row-fluid">
				<div class="span6">
					<div class="icon" style="background-image: url({forumrow.FORUM_FOLDER_IMG_SRC}); background-repeat: no-repeat;"></div>
					<dt class="title"><a href="{forumrow.U_VIEWFORUM}" class="forumtitle"><h4>{forumrow.FORUM_NAME}</h4></a><br />{forumrow.FORUM_DESC}</dt>
				</div>

				<dd class="span4"><!-- IF forumrow.LAST_POST_TIME --><span><dfn>{L_LAST_POST} </dfn>{L_POST_BY_AUTHOR} {forumrow.LAST_POST_AUTHOR_FULL}
					<a href="{topicrow.U_LAST_POST}">{LAST_POST_IMG}</a> <br />{forumrow.LAST_POST_TIME}</span>
					<!-- ELSE -->{L_NO_POSTS}<br />&nbsp;<!-- ENDIF -->
				</dd>
				<dd class="span2"><input type="checkbox" name="f[{forumrow.FORUM_ID}]" id="f{forumrow.FORUM_ID}" /></dd>
			</div>
		</div>
	<!-- END forumrow -->
	</div>
<!-- ELSEIF S_FORUM_NOTIFY -->
	<p><strong>{L_NO_WATCHED_FORUMS}</strong></p>
<!-- ENDIF -->

<!-- IF .topicrow -->
	<div class="box">
		<div class="header">
			<div class="row-fluid">
				<div class="span6">{L_WATCHED_TOPICS} </div>
				<div class="span4">{L_LAST_POST} </div>
				<div class="span2">{L_MARK} </div>
			</div>
		</div>

	<!-- BEGIN topicrow -->
		<div class="tablerow <!-- IF topicrow.S_TOPIC_REPORTED --> reported<!-- ELSEIF topicrow.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
			<div class="row-fluid">
				<div class="span6 clearfix" <!-- IF topicrow.TOPIC_ICON_IMG --> style="background-image: url({T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}); background-repeat: no-repeat;"<!-- ENDIF --> title="{topicrow.TOPIC_FOLDER_IMG_ALT}">
					<div class="icon" style="background-image: url({topicrow.TOPIC_FOLDER_IMG_SRC}); background-repeat: no-repeat;"></div>
					<div class="title">
						<!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <!-- ENDIF --><h4><a href="{topicrow.U_VIEW_TOPIC}" class="topictitle"><h4>{topicrow.TOPIC_TITLE} </h4></a></h4>
						<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED --><a href="{topicrow.U_MCP_QUEUE}">{topicrow.UNAPPROVED_IMG}</a> <!-- ENDIF -->
						<!-- IF topicrow.S_TOPIC_REPORTED --><a href="{topicrow.U_MCP_REPORT}">{REPORTED_IMG}</a><!-- ENDIF -->
						<span class="description">
							<!-- IF topicrow.PAGINATION --><strong class="pagination"><span>{topicrow.PAGINATION}</span></strong><!-- ENDIF -->
							<!-- IF topicrow.ATTACH_ICON_IMG -->{topicrow.ATTACH_ICON_IMG} <!-- ENDIF -->{L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR_FULL} &raquo; {topicrow.FIRST_POST_TIME}
						</span>
						<p class="meta">
						</p>
					</div>
				</div>
				<div class="span4">
					<div class="lastpost">
						<dfn>{L_LAST_POST} </dfn>{L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL}
						<a href="{topicrow.U_LAST_POST}">{LAST_POST_IMG}</a> <br />{topicrow.LAST_POST_TIME}
					</div>
				</div>
				<div class="span2" style="padding-top:20px;"><input type="checkbox" name="t[{topicrow.TOPIC_ID}]" id="t{topicrow.TOPIC_ID}" /></div>
			</div>
		</div>
	<!-- END topicrow -->
	</div>
	<ul class="linklist">
		<li class="pagination pull-right">
			<!-- IF TOTAL_TOPICS --> {TOTAL_TOPICS} <!-- ENDIF -->
			<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
		</li>
		<li class="clearfix"></li>
	</ul>
<!-- ELSEIF S_TOPIC_NOTIFY -->
	<p><strong>{L_NO_WATCHED_TOPICS} </strong></p>
<!-- ENDIF -->


</div>

<!-- IF .topicrow or .forumrow -->
	<fieldset class="display-actions">
		<input type="submit" name="unwatch" value="{L_UNWATCH_MARKED}" class="btn btn-small pull-right" />
		<div><a href="#" onclick="marklist('ucp', 't', true); marklist('ucp', 'f', true); return false;">{L_MARK_ALL}</a> &bull; <a href="#" onclick="marklist('ucp', 't', false); marklist('ucp', 'f', false); return false;">{L_UNMARK_ALL}</a></div>
		{S_FORM_TOKEN}
	</fieldset>
<!-- ENDIF -->
</form>

<!-- INCLUDE ucp_footer.html -->