<!-- INCLUDE overall_header.html -->

<!-- IF S_SHOW_COPPA or S_REGISTRATION -->

<!-- IF S_LANG_OPTIONS -->
<script type="text/javascript">
// <![CDATA[
	/**
	* Change language
	*/
	function change_language(lang_iso)
	{
		document.forms['register'].change_lang.value = lang_iso;
		document.forms['register'].submit();
	}

// ]]>
</script>

	<form method="post" action="{S_UCP_ACTION}" id="register" class="form-inline pull-right">
		<label class="strong" for="lang">{L_LANGUAGE}:</label><select class="medium-left-margin" name="lang" id="lang" onchange="change_language(this.value); return false;" title="{L_LANGUAGE}">{S_LANG_OPTIONS}</select>
		{S_HIDDEN_FIELDS}
	</form>

	<div class="clearfix"></div>

<!-- ENDIF -->

	<form method="post" action="{S_UCP_ACTION}" id="agreement">
        <fieldset>

        	<div class="box big-padding small-top-margin medium-bottom-margin">
			<h2>{SITENAME} - {L_REGISTRATION}</h2>
			<p><!-- IF S_SHOW_COPPA -->{L_COPPA_BIRTHDAY}<!-- ELSE -->{L_TERMS_OF_USE}<!-- ENDIF --></p>
		<!-- IF S_SHOW_COPPA -->
			<strong><a href="{U_COPPA_NO}" class="btn btn-small">{L_COPPA_NO}</a></strong>&nbsp; <a href="{U_COPPA_YES}" class="btn btn-small">{L_COPPA_YES}</a>
		<!-- ELSE -->
			<!-- INCLUDE prime_birthdate.html -->
		<!-- ENDIF -->
		</div>

	<!-- IF not S_SHOW_COPPA -->
		<div class="big-bottom-margin" style="text-align: center;">
			<input type="submit" name="agreed" id="agreed" value="{L_AGREE}" class="btn btn-medium small-bottom-margin strong" />&nbsp;
			<input type="submit" name="not_agreed" value="{L_NOT_AGREE}" class="btn btn-medium  small-bottom-margin" />
		</div>
	<!-- ENDIF -->

		{S_HIDDEN_FIELDS}
		{S_FORM_TOKEN}

	</fieldset>
	</form>

<!-- ELSEIF S_AGREEMENT -->

	<div class="box small-padding small-bottom-margin">

		<div class="content">
			<h2>{SITENAME} - {AGREEMENT_TITLE}</h2>
			<p>{AGREEMENT_TEXT}</p>
			<hr class="dashed" />
			<p><a href="{U_BACK}" class="btn btn-small">{L_BACK}</a></p>
		</div>

	</div>

<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
