<!-- INCLUDE ucp_header.html -->

<h2>{L_TITLE}</h2>

<form id="ucp" method="post" action="{S_UCP_ACTION}">

	<!-- IF ERROR_MESSAGE --><p class="error">{ERROR_MESSAGE}</p><!-- ENDIF -->
	<!-- IF NOTIFICATION_MESSAGE --><p class="error">{NOTIFICATION_MESSAGE}</p><!-- ENDIF -->

<div class="box small-padding small-bottom-margin">
	<div class="header">
		<h4>{L_DEFINED_RULES} </h4>
	</div>

	<!-- BEGIN rule -->
	<div class="tablerow">
		<div class="pull-right">
			<input type="submit" name="delete_rule[{rule.RULE_ID}]" value="{L_DELETE_RULE}" class="btn btn-small" />
		</div>
		<strong>{L_IF} </strong> {rule.CHECK} <em>{rule.RULE} </em> <!-- IF rule.STRING --><strong>{rule.STRING} </strong> | <!-- ENDIF -->{rule.ACTION}<!-- IF rule.FOLDER -->: {rule.FOLDER}<!-- ENDIF --><div style="clear: both;"></div>
	</div>
	<!-- BEGINELSE -->
		<p class="description">{L_NO_RULES_DEFINED} </p>
	<!-- END rule -->
</div>

<div class="box small-padding small-bottom-margin">
	<div class="header">
		<h4>{L_ADD_NEW_RULE}</h4>
	</div>

	<fieldset class="fields2">

	<!-- IF S_CHECK_DEFINED -->
		<div class="row-fluid">
			<div class="span5"><label class="strong"<!-- IF S_CHECK_SELECT --> for="check_option"<!-- ENDIF -->>{L_IF}:</label></div>
			<div class="span7 form-inline">
				<!-- IF S_CHECK_SELECT --><select name="check_option" id="check_option">{S_CHECK_OPTIONS}</select> <input type="submit" name="next" value="{L_NEXT_STEP}" class="btn btn-small" /><!-- ELSE -->{CHECK_CURRENT}<input type="hidden" name="check_option" value="{CHECK_OPTION}" /><!-- ENDIF -->
			</div>
		</div>
	<!-- ENDIF -->

	<!-- IF S_RULE_DEFINED -->
		<div class="row-fluid">
			<div class="span5">&nbsp;</div>
			<div class="span7 form-inline">
				<!-- IF S_RULE_SELECT --><select name="rule_option" id="rule_option">{S_RULE_OPTIONS}</select><!-- ELSE --><em>{RULE_CURRENT}</em><input type="hidden" name="rule_option" value="{RULE_OPTION}" /><!-- ENDIF -->
				<div class="btn-group">
					<!-- IF S_RULE_SELECT --><input type="submit" name="next" value="{L_NEXT_STEP}" class="btn btn-small" /><input type="submit" name="back[rule]" value="{L_PREVIOUS_STEP}" class="btn btn-small" /><!-- ELSE --><label>&nbsp;</label><!-- ENDIF -->
				</div>
			</div>
		</div>
	<!-- ENDIF -->

	<!-- IF S_COND_DEFINED -->
		<!-- IF S_COND_SELECT or COND_CURRENT -->
			<div class="row-fluid">
				<div class="span5">&nbsp;</div>
				<div class="span7 form-inline">
					<!-- IF S_COND_SELECT -->
						<!-- IF S_TEXT_CONDITION -->
							<input type="text" name="rule_string" value="{CURRENT_STRING}" class="inputbox medium" maxlength="250" />
						<!-- ELSEIF S_USER_CONDITION -->
							<input type="text" name="rule_string" value="{CURRENT_STRING}" class="inputbox tiny" />&nbsp;<span>[ <a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a> ]</span>
						<!-- ELSEIF S_GROUP_CONDITION -->
							<input type="hidden" name="rule_string" value="{CURRENT_STRING}" /><!-- IF S_GROUP_OPTIONS --><select name="rule_group_id">{S_GROUP_OPTIONS}</select><!-- ELSE -->{L_NO_GROUPS}<!-- ENDIF -->
						<!-- ENDIF -->
						<div class="btn-group">
							<input type="submit" name="next" value="{L_NEXT_STEP}" class="btn btn-small" />
							<input type="submit" name="back[cond]" value="{L_PREVIOUS_STEP}" class="btn btn-small" />
						</div>
					<!-- ELSE -->
						<strong>{COND_CURRENT}</strong><input type="hidden" name="rule_string" value="{CURRENT_STRING}" /><input type="hidden" name="rule_user_id" value="{CURRENT_USER_ID}" /><input type="hidden" name="rule_group_id" value="{CURRENT_GROUP_ID}" />
					<!-- ENDIF -->
				</div>
			</div>
		<!-- ENDIF -->
		<input type="hidden" name="cond_option" value="{COND_OPTION}" />
	<!-- ENDIF -->


	<!-- IF NONE_CONDITION --><input type="hidden" name="cond_option" value="none" /><!-- ENDIF -->

	<!-- IF S_ACTION_DEFINED -->
		<div class="row-fluid">
			<div class="span5">&nbsp;</div>
			<div class="span7 form-inline">
				<!-- IF S_ACTION_SELECT -->
					<select name="action_option">{S_ACTION_OPTIONS}</select>

					<div class="btn-group">
						<input type="submit" name="add_rule" value="{L_ADD_RULE}" class="btn btn-small strong" />
						<input type="submit" name="back[action]" value="{L_PREVIOUS_STEP}" class="btn btn-small" />
					</div>
				<!-- ELSE -->
					{ACTION_CURRENT}<input type="hidden" name="action_option" value="{ACTION_OPTION}" />
				<!-- ENDIF -->
			</div>
		</dl>
	<!-- ENDIF -->

	</fieldset>
</div>
<div class="box small-padding small-bottom-margin">
	<div class="header">
		<h4>{L_FOLDER_OPTIONS}</h4>
	</div>

	<fieldset class="fields2">

	<!-- IF not S_MAX_FOLDER_ZERO -->
	<div class="row-fluid">
		<div class="span5"><label class="strong" for="foldername">{L_ADD_FOLDER}:</label></div>
		<div class="span7 form-inline"><!-- IF S_MAX_FOLDER_REACHED -->{L_MAX_FOLDER_REACHED}<!-- ELSE --><input type="text" class="inputbox medium" name="foldername" id="foldername" size="30" maxlength="30" /> <input class="btn btn-small" type="submit" name="addfolder" value="{L_ADD}" /><!-- ENDIF --></div>
	</div>
	<!-- IF S_FOLDER_OPTIONS --><hr class="dashed" /><!-- ENDIF -->
	<!-- ENDIF -->



	<!-- IF S_FOLDER_OPTIONS -->
		<div class="row-fluid">
			<div class="span5"><label class="strong" for="rename_folder_id">{L_RENAME_FOLDER}:</label></div>
			<div class="span7"><select name="rename_folder_id" id="rename_folder_id">{S_FOLDER_OPTIONS}</select></div>
		</div>
		<div class="row-fluid">
			<div class="span5"><label class="strong" for="new_folder_name">{L_NEW_FOLDER_NAME}:</label></div>
			<div class="span7 form-inline"><input type="text" class="inputbox tiny" name="new_folder_name" id="new_folder_name" maxlength="30" /> <input class="btn btn-small" type="submit" name="rename_folder" value="{L_RENAME}" /></div>
		</div>
		<hr class="dashed" />
		<div class="row-fluid">
			<div class="span5"><label class="strong" for="remove_folder_id">{L_REMOVE_FOLDER}:</label></div>
			<div class="span7"><select name="remove_folder_id" id="remove_folder_id">{S_FOLDER_OPTIONS}</select></div>
		</div>
		<div class="row-fluid">
			<div class="span5"><label class="strong" for="remove_action1"><input type="radio" name="remove_action" id="remove_action1" value="1" checked="checked" /> {L_MOVE_DELETED_MESSAGES_TO}:</label></div>
			<div class="span7"><select name="move_to">{S_TO_FOLDER_OPTIONS}</select></div>
		</div>
		<div class="row-fluid">
			<div class="span5"><label class="strong" for="remove_action2"><input type="radio" name="remove_action" id="remove_action2" value="2" /> {L_DELETE_MESSAGES_IN_FOLDER}</label></div>
			<div class="span7"></div>
		</div>
		<div class="row-fluid">
			<div class="span5">&nbsp;</div>
			<div class="span7"><input class="btn btn-small" type="submit" name="remove_folder" value="{L_REMOVE}" /></div>
		</div>
	<!-- ENDIF -->

	<hr class="dashed" />

	<div class="row-fluid">
		<div class="span5"><label class="strong" for="full_action1">{L_IF_FOLDER_FULL}:</label></div>
		<div class="span7">
			<label for="full_action1"><input type="radio" name="full_action" id="full_action1" value="1"{S_DELETE_CHECKED} /> {L_DELETE_OLDEST_MESSAGES}</label>
			<label class="form-inline" for="full_action2"><input type="radio" name="full_action" id="full_action2" value="2"{S_MOVE_CHECKED} /> {L_MOVE_TO_FOLDER}: <select name="full_move_to">{S_FULL_FOLDER_OPTIONS}</select></label>
			<label for="full_action3" style="white-space:normal;"><input type="radio" name="full_action" id="full_action3" value="3"{S_HOLD_CHECKED} /> {L_HOLD_NEW_MESSAGES}</label>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span5"><label class="strong">{L_DEFAULT_ACTION}:</label><span class="description">{L_DEFAULT_ACTION_EXPLAIN}</span></div>
		<div class="span7">{DEFAULT_ACTION} </div>
	</div>
	<div class="row-fluid">
		<div class="span5">&nbsp;</div>
		<div class="span7"><input class="btn btn-small" type="submit" name="fullfolder" value="{L_CHANGE}" /></div>
	</div>
	</fieldset>


	{S_FORM_TOKEN}
</div>
</form>

<!-- INCLUDE ucp_footer.html -->