<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<h2>{L_TITLE}</h2>

<p class="description">{L_PROFILE_INFO_NOTICE}</p>

	<fieldset class="ucp-profile-details box small-bottom-margin">
	<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
	<div class="row-fluid">
		<div class="span6">
			<dl class="collist">
				<dt><label class="strong" for="jabber">{L_UCP_JABBER}:</label></dt>
				<dd><input type="text" name="jabber" id="jabber" maxlength="255" value="{JABBER}" class="inputbox" /></dd>

				<dt><label class="strong" for="website">{L_WEBSITE}:</label></dt>
				<dd><input type="text" name="website" id="website" maxlength="255" value="{WEBSITE}" class="inputbox" /></dd>

				<dt><label class="strong" for="location">{L_LOCATION}:</label></dt>
				<dd><input type="text" name="location" id="location" maxlength="255" value="{LOCATION}" class="inputbox" /></dd>

				<dt><label class="strong" for="occupation">{L_OCCUPATION}:</label></dt>
				<dd><textarea name="occupation" id="occupation" class="inputbox" rows="3" cols="30">{OCCUPATION}</textarea></dd>

				<dt><label class="strong" for="interests">{L_INTERESTS}:</label></dt>
				<dd><textarea name="interests" id="interests" class="inputbox" rows="3" cols="30">{INTERESTS}</textarea></dd>
			</dl>
		</div>

		<div class="span6">
		<!-- IF S_BIRTHDAYS_ENABLED -->
			<dl class="collist">
				<dt><label class="strong" for="bday_day">{L_BIRTHDAY}:</label><span class="description">{L_BIRTHDAY_EXPLAIN}</span></dt>
				<dd>
					<label class="pull-left" for="bday_day"><select name="bday_day" id="bday_day" style="width: 4em;">{S_BIRTHDAY_DAY_OPTIONS}</select></label>
					<label class="pull-left" for="bday_month"><select name="bday_month" id="bday_month" style="width: 5em;">{S_BIRTHDAY_MONTH_OPTIONS}</select></label>
					<label class="pull-left" for="bday_year"><select name="bday_year" id="bday_year" style="width: 6em;">{S_BIRTHDAY_YEAR_OPTIONS}</select></label>
				</dd>
			</dl>
		<!-- ENDIF -->
            <dl class="collist">
		<!-- BEGIN profile_fields -->			
				<dt><label<!-- IF profile_fields.FIELD_ID --> for="{profile_fields.FIELD_ID}"<!-- ENDIF -->>{profile_fields.LANG_NAME}:<!-- IF profile_fields.S_REQUIRED --> *<!-- ENDIF --></label>
				<!-- IF profile_fields.LANG_EXPLAIN --><br /><span>{profile_fields.LANG_EXPLAIN}</span><!-- ENDIF --></dt>
				<!-- IF profile_fields.ERROR --><dd class="error">{profile_fields.ERROR}</dd><!-- ENDIF -->
				<dd>{profile_fields.FIELD}</dd>			
		<!-- END profile_fields -->
            </dl>
		</div>
	</div>
	</fieldset>


<fieldset>
	{S_FORM_TOKEN}
</fieldset>
<div class="submitrow">
	<fieldset class="btn-group">
		{S_HIDDEN_FIELDS}
		<input type="reset" value="{L_RESET}" name="reset" class="btn btn-small" />
		<input type="submit" name="submit" value="{L_SUBMIT}" class="btn btn-small strong" />
	</fieldset>
</div>
</form>

<!-- INCLUDE ucp_footer.html -->