<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<h2>{L_TITLE}</h2>

<p class="description ucp-content">{L_ATTACHMENTS_EXPLAIN}</p>

<div class="medium-bottom-margin ucp-content">

	<!-- IF .attachrow -->
		<div class="pull-left small-bottom-margin" style="line-height:25px">
			<!-- IF TOTAL_ATTACHMENTS -->{TOTAL_ATTACHMENTS} {L_TITLE}<!-- ENDIF -->
			<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
		</div>

		<div class="clearfix"></div>

		<table class="ucp-pm">

			<thead>
            <tr>                			
				<th class="span6"><a href="{U_SORT_FILENAME}">{L_FILENAME}</a></th>
				<th class="span2 text-center"><a href="{U_SORT_DOWNLOADS}">{L_DOWNLOADS}</a></th>
				<th class="span2"><span><a href="{U_SORT_POST_TIME}">{L_POST_TIME}</a></span></th>
				<th class="span2">{L_MARK}</th>
            </tr>				
			</thead>

			<!-- BEGIN attachrow -->
			<tr class="tablerow <!-- IF attachrow.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">				
				<td class="span6">
                    <a href="{attachrow.U_VIEW_ATTACHMENT}" class="topictitle">{attachrow.FILENAME}</a> ({attachrow.SIZE})<br />
					<!-- IF attachrow.S_IN_MESSAGE -->{L_PM}: <!-- ELSE -->{L_TOPIC}: <!-- ENDIF -->
                    <a href="{attachrow.U_VIEW_TOPIC}">{attachrow.TOPIC_TITLE}</a>
                </td>
				<td class="span2 text-center">{attachrow.DOWNLOAD_COUNT}</td>
				<td class="span2"><span>{attachrow.POST_TIME}</span></td>
				<td class="span2"><input type="checkbox" name="attachment[{attachrow.ATTACH_ID}]" value="1" /></td>				
			</tr>
			<!-- END attachrow -->

		</table>

        <div class="row-inline">
    		<fieldset class="form-inline right">
    			<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
    			<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
    			<label for="sk">{L_SORT_BY}: <select name="sk" id="sk">{S_SORT_OPTIONS} </select></label>
    			<label><select name="sd" id="sd">{S_ORDER_SELECT}</select></label>
    			<input class="btn btn-small" type="submit" name="sort" value="{L_SORT}" />
    			{S_FORM_TOKEN}
    		</fieldset>
    
    
    		<div class="left" style="line-height:25px">
    			<!-- IF TOTAL_ATTACHMENTS -->{TOTAL_ATTACHMENTS} {L_TITLE}<!-- ENDIF -->
    			<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
    		</div>
        </div>        
	<!-- ELSE -->
		<p><strong>{L_UCP_NO_ATTACHMENTS}</strong></p>
	<!-- ENDIF -->
    
<!-- IF S_ATTACHMENT_ROWS -->
    <div class="row-inline small-top-margin">
    	<div class="left"></div>
        <fieldset class="btn-group right">
    		<input class="btn btn-small strong" type="submit" name="delete" value="{L_DELETE_MARKED}" />
    		<a class="btn btn-small" href="#" onclick="marklist('ucp', 'attachment', true); return false;">{L_MARK_ALL} </a>
    		<a class="btn btn-small" href="#" onclick="marklist('ucp', 'attachment', false); return false;">{L_UNMARK_ALL} </a>
    		{S_FORM_TOKEN}
    	</fieldset>
    </div>
<!-- ENDIF -->


</div>
</form>

<!-- INCLUDE ucp_footer.html -->