<!-- INCLUDE ucp_header.html -->

<!-- IF not PROMPT -->
	<!-- INCLUDE ucp_pm_message_header.html -->
<!-- ENDIF -->

<!-- IF PROMPT -->
	<h2>{L_EXPORT_AS_CSV}</h2>
	<form id="viewfolder" method="post" action="{S_PM_ACTION}">
	<div class="box">

		<h3>{L_OPTIONS}</h3>
		<fieldset>
			<dl>
				<dt><label for="delimiter">{L_DELIMITER}:</label></dt>
				<dd><input class="inputbox" type="text" id="delimiter" name="delimiter" value="," /></dd>
			</dl>
			<dl>
				<dt><label for="enclosure">{L_ENCLOSURE}:</label></dt>
				<dd><input class="inputbox" type="text" id="enclosure" name="enclosure" value="&#034;" /></dd>
			</dl>
		</fieldset>

	</div>
	<fieldset class="submit-buttons">
		<input type="hidden" name="export_option" value="CSV" />
		<input class="btn btn-small" type="submit" name="submit_export" value="{L_EXPORT_FOLDER}" />&nbsp;
		<input class="btn btn-small" type="reset" value="Reset" name="reset" />&nbsp;
		{S_FORM_TOKEN}
	</fieldset>
	</form>

<!-- ELSE -->

	<!-- IF NUM_REMOVED -->
		<div class="notice">
			<p>{RULE_REMOVED_MESSAGES}</p>
		</div>
	<!-- ENDIF -->

	<!-- IF NUM_NOT_MOVED -->
		<div class="notice">
			<p>{NOT_MOVED_MESSAGES}<br />{RELEASE_MESSAGE_INFO}</p>
		</div>
	<!-- ENDIF -->

	<!-- IF .messagerow -->
	<div class="box small-padding small-bottom-margin">
		<div class="header">
			<div class="row-fluid">
				<div class="span10">{L_MESSAGE} </div>
				<div class="span2">{L_MARK} </div>
			</div>
		</div>

		<!-- BEGIN messagerow -->
		<div class="tablerow <!-- IF messagerow.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF --><!-- IF messagerow.PM_CLASS --> {messagerow.PM_CLASS}<!-- ENDIF -->">
			<div class="row-fluid">
				<div class="span6"<!-- IF messagerow.PM_ICON_URL and S_PM_ICONS --> style="background-image: url({messagerow.PM_ICON_URL}); background-repeat: no-repeat;"<!-- ENDIF -->>
					<div class="icon" style="background-image: url({messagerow.FOLDER_IMG_SRC}); background-repeat: no-repeat;"></div>
					<div class="title">
						<!-- IF messagerow.S_PM_DELETED -->
							<a href="{messagerow.U_REMOVE_PM}" class="topictitle">{L_DELETE_MESSAGE}</a>
							<span class="error">{L_MESSAGE_REMOVED_FROM_OUTBOX}</span>
						<!-- ELSE -->
							<a href="{messagerow.U_VIEW_PM}" class="topictitle"><h4>{messagerow.SUBJECT}</h4></a>
						<!-- ENDIF -->
						<!-- IF messagerow.S_AUTHOR_DELETED -->
							<em class="small">{L_PM_FROM_REMOVED_AUTHOR}</em>
						<!-- ENDIF -->

						<!-- IF messagerow.S_PM_REPORTED --><a href="{messagerow.U_MCP_REPORT}">{REPORTED_IMG}</a><!-- ENDIF --> {messagerow.ATTACH_ICON_IMG}
						<span class="description"><!-- IF S_SHOW_RECIPIENTS -->{L_MESSAGE_TO} {messagerow.RECIPIENTS}<!-- ELSE -->{L_MESSAGE_BY_AUTHOR} {messagerow.MESSAGE_AUTHOR_FULL} &raquo; {messagerow.SENT_TIME}<!-- ENDIF --></span>
					</div>
				</div>
				<!-- IF S_SHOW_RECIPIENTS --><div class="span4 sent"><span>{L_SENT_AT}: {messagerow.SENT_TIME}</span></div><!-- ENDIF -->
				<!-- IF S_UNREAD --><div class="span4"><!-- IF messagerow.FOLDER --><a href="{messagerow.U_FOLDER}">{messagerow.FOLDER}</a><!-- ELSE -->{L_UNKNOWN_FOLDER}<!-- ENDIF --></div><!-- ENDIF -->
				<div class="span2" style="padding-top:20px;"><input type="checkbox" name="marked_msg_id[]" value="{messagerow.MESSAGE_ID}" /></div>
			</div>
		</div>
		<!-- END messagerow -->
	</div>
	<!-- ELSE -->
		<p><strong>
			<!-- IF S_COMPOSE_PM_VIEW and S_NO_AUTH_SEND_MESSAGE -->
				<!-- IF S_USER_NEW -->{L_USER_NEW_PERMISSION_DISALLOWED}<!-- ELSE -->{L_NO_AUTH_SEND_MESSAGE}<!-- ENDIF -->
			<!-- ELSE -->
				{L_NO_MESSAGES}
			<!-- ENDIF -->
		</strong></p>
	<!-- ENDIF -->

	<!-- IF FOLDER_CUR_MESSAGES neq 0 -->
	<fieldset>
		<div class="row-fluid small-bottom-margin">
			<div class="span8 form-inline">
				<label class="greylabel pull-left" for="export_option">{L_EXPORT_FOLDER}:
					<select name="export_option" id="export_option">
						<option value="CSV">{L_EXPORT_AS_CSV}</option>
						<option value="CSV_EXCEL">{L_EXPORT_AS_CSV_EXCEL}</option>
						<option value="XML">{L_EXPORT_AS_XML}</option>
					</select>
					<input class="btn btn-small" type="submit" name="submit_export" value="{L_GO}" /><br />
				</label>
			</div>
			<div class="span4 pull-right form-inline">
				<select name="mark_option">{S_MARK_OPTIONS}{S_MOVE_MARKED_OPTIONS}</select>
				<input class="btn btn-small" type="submit" name="submit_mark" value="{L_GO}" />
			</div>
		</div>
		<div class="btn-group pull-right">
			<a class="btn btn-small" href="#" onclick="marklist('viewfolder', 'marked_msg', true); return false;">{L_MARK_ALL}</a>
			<a class="btn btn-small" href="#" onclick="marklist('viewfolder', 'marked_msg', false); return false;">{L_UNMARK_ALL}</a>
		</div>
	</fieldset>

	<hr />

	<ul class="linklist">
		<!-- IF TOTAL_MESSAGES or S_VIEW_MESSAGE -->
		<li class="pull-right medium-bottom-margin">
			<!-- IF TOTAL_MESSAGES -->{TOTAL_MESSAGES}<!-- ENDIF -->
			<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
		</li>
		<!-- ENDIF -->
	</ul>

	<div class="clearfix"></div>
	<!-- ENDIF -->


	</div>

	<!-- IF FOLDER_CUR_MESSAGES neq 0 -->
	<fieldset class="form-inline">
		<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
		<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
		<label class="greylabel">{L_DISPLAY}: {S_SELECT_SORT_DAYS}</label>
		<label class="greylabel small-left-margin">{L_SORT_BY} {S_SELECT_SORT_KEY}</label>
		<label class="greylabel">{S_SELECT_SORT_DIR} <input type="submit" name="sort" value="{L_GO}" class="btn btn-small" /></label>
		<input type="hidden" name="cur_folder_id" value="{CUR_FOLDER_ID}" />
	</fieldset>
	<!-- ENDIF -->

	<!-- INCLUDE ucp_pm_message_footer.html -->
<!-- ENDIF -->
<!-- INCLUDE ucp_footer.html -->