/******************************************************************************/
/* common_spacing */

.no-margin { margin: 0px; }
.small-margin { margin: 10px; }
.medium-margin { margin: 20px; }
.big-margin { margin: 40px; }

.no-left-margin { margin-left: 0px; }
.small-left-margin { margin-left: 10px; }
.medium-left-margin { margin-left: 20px; }
.big-left-margin { margin-left: 40px; }

.no-bottom-margin { margin-bottom: 0px; }
.small-bottom-margin { margin-bottom: 10px; }
.medium-bottom-margin { margin-bottom: 20px; }
.big-bottom-margin { margin-bottom: 40px; }

.no-right-margin { margin-right: 0px; }
.small-right-margin { margin-right: 10px; }
.medium-right-margin { margin-right: 20px; }
.big-right-margin { margin-right: 40px; }

.no-top-margin { margin-top: 0px; }
.small-top-margin { margin-top: 10px; }
.medium-top-margin { margin-top: 20px; }
.big-top-margin { margin-top: 40px; }

.no-padding { padding: 0px; }
.small-padding { padding: 10px; }
.medium-padding { padding: 20px; }
.big-padding { padding: 40px; }

/* TODO: add further padding specifiers */

/******************************************************************************/
/* displaying */

.only-on-handheld { display: none; }
.only-on-tab { display: none; }
.only-on-large-tab { display: none; }
.only-on-smartphone { display: none; }

/******************************************************************************/
/* common_global */

html, html * {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* from bootstrap */
}

html *, * {
  box-sizing: border-box;
}

a,
a:hover,
a:visited,
a:focus,
a:active {
  outline: 0px none;
  color: #00A0E0;
  text-decoration: none;
}

input[type=checkbox] {
  margin: 0px;
}

.clearfix {
  clear: both;
}

fieldset {
  border: 0px;
  padding: 0px;
  margin: 0px;
}

hr {
  border: 1px solid #d4d4d4;
}

/******************************************************************************/
/* common_headings */

h2,
h2 a {
  font-size: 28px;
  font-weight: normal;
  color: #333;
  margin-bottom: 0px;
}

/******************************************************************************/
/* common_box */

.box {
  padding: 10px;
  background: rgba(0, 0, 0, 0.09);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  border-radius: 4px;
}

.box .header {
  font-weight: bold;
  color: #777;
  font-size: 15px;
}

.well {
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  padding: 10px;
  background-color: #e5e5e5;
  margin-bottom: 10px;
}

.box dl {
  display: block;
  position: relative;
  font-size: 0px;
  margin-bottom: 10px;
}

.box dl dt {
  display: inline-block;
  width: 25%;
  text-align: right;
  font-size: 13px;
}

.box dl dt label {
  font-weight: bold;
  display: block;
}

.box dl dd {
  display: inline-block;
  vertical-align: top;
  margin: 0px;
  margin-left: 10px;
  font-size: 13px;
}

.box dl dd ~ dd {
  display: block;
  box-sizing: border-box;
  position: relative;
  left: 25%;
  margin: 8px 0px;
  margin-left: 10px;
}

.box dl dd ~ dd:last-child {
  margin-bottom: 20px;
}

@media only screen and (max-device-width: 1199px)
{
  .box dl dd input[type=password],
  .box dl dd input[type=text] {
    font-size: 18px !important;
  }
}

/******************************************************************************/
/* common_buttons */

.btn, a.btn {
  display: inline-block;
  background-color: rgb(221, 221, 221);
  border: 1px solid #bbb;
  border-radius: 4px;

  box-sizing: border-box;
  padding: 5px;
  padding-top: 6px;
  width: auto;

  font-size: 12px;
  color: #333;
}
.btn-small {
  padding-top: 5px;
  min-height: 28px;
  height: 28px;
}
.btn-medium {
  padding-top: 6px;
  min-height: 38px;
  height: 38px;
}
.btn:hover {
  background-color: #eee;
  color: #666;
}

.btn-group {
  display: inline-block;
  vertical-align: top;
  min-height: 28px;
  font-size: 0px;
}
.btn-group > .btn {
  border-radius: 0px;
  vertical-align: top;
}
.btn-group > .btn ~ .btn {
  margin-left: -1px;
}
.btn-group > .btn:first-child {
  border-right: 1px solid #bbb;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.btn-group > .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.btn-group > .btn:first-child + .btn {
  border-left: 1px solid #bbb;
}
.btn-group + .btn,
.btn + .btn-group {
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
}

#wrap .btn a:hover {
  text-decoration: none;
}

/* Small-Button-Icons */
.btn-small i {
  font-size: 14px;
}

/******************************************************************************/
/* common_rowinline */
.row-inline {
  clear: both;
  display: block;
  position: relative;
  height: auto;
}

.row-inline > * {
  display: inline-block;
  vertical-align: middle;
}

.row-inline#bottom-pagenav a {
  font-size: 16px;
}

.row-inline > .right {
  position: absolute;
  right: 0px;
}

.row-right {
  text-align: right;
}

.row-inline > .row-inline,
.row-inline > .right > .row-inline,
.row-inline > .left > .row-inline {
  display: inline-block;
  vertical-align: top;
  width: auto;
  left: 0px;
}

.row-inline .row-inline ~ .row-inline {
  margin-left: 10px;
}

.row-inline > label {
  color: #aaa;
}

.row-inline > label ~ input,
.row-inline > label ~ select {
  margin-left: 5px;
}

.row-inline > .formgroup > * {
  vertical-align: middle;
}

.row-inline > .formgroup > .btn-small {
  max-height: 28px;
}

/******************************************************************************/
/* common_overboxctrl */

div.overboxctrl {
  display: block;
  position: relative;
  height: auto;
  margin-bottom: 20px;
}

div.overboxctrl .overboxright,
div.overboxctrl .overboxleft,
div.overboxctrl .overboxcenter {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
}

div.overboxctrl .overboxright {
  position: absolute;
  right: 0px;
  top: 0px;
}
div.overboxctrl .overboxleft {
  height: auto;
}
div.overboxctrl .overboxcenter {
  position: absolute;
  left: 50%;
  margin-left: -15%;
  width: 30%;
  top: 15%;
  text-align: center;
}

@media all and (max-width:980px) {
  /** OVERBOX TOOLBOX **/
  #wrap div.overboxctrl .overboxleft .btn-moderation .text {
    display: none;
  }

  #wrap div.overboxctrl .overboxleft .btn-markforums {
    display: none;
  }
}

@media all and (max-width:840px) {
  #wrap div.overboxctrl .btn-group .btn {
    min-width: 50px;
    text-align: center;
  }
}

@media all and (max-width:640px) {
  #wrap .overboxctrl .overboxleft .btn-unanswered {
    display:none;
  }
  #wrap .overboxctrl .overboxleft .btn-moderation {
    margin-right: -2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  #wrap .overboxctrl .overboxleft .btn-moderation + .btn-group {
    margin-left: -2px;
  }
  #wrap .btn-index-active {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}

@media all and (max-width:486px) {
  .main-toolbar {
    float: none;
  }
  #wrap div.overboxctrl .btn-group .btn {
    padding-left: 5px;
  }
  #wrap .main-toolbar .btn-group > .btn {
    min-width: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 30px;
  }
  #wrap div.overbx-index .overboxleft .btn-moderation {
    margin-bottom: 20px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  #wrap div.overbx-index .overboxleft .btn-moderation .text {
    display: inline-block;
  }
  #wrap div.overbx-index {
    max-height: 200px;
    height: 50px;
    display: block;
    position: relative;
    top: -20px;
  }

  #wrap .overbx-index + .box {
    margin-top: 60px;
  }

  #wrap a#index-registerbtn {
    width: 98%;
    margin-left: 1%;
    height: 30px;
    margin-top: 10px;
  }
}

/*********************************************************************/
/* common_table */

.table-wrap,
.table-wrap *,
.table-head,
.table-head *,
.table-row,
.table-row * {
  box-sizing: border-box;
}

.table-wrap {
  position: relative;
  width: 100%;
}

.table-head {
  width: 100%;
  height: auto;
  position: relative;
  display: inline;
  font-size: 0px;
}

.table-row {
  display: inline-block;
  position: relative;
  width: 100%;
  height: auto;
  border-top: 1px solid #aaa;
  font-size: 0px;
}

.table-phantomrow:first-child {
  border-top: 0px;
}

.table-head * {
  color: #666;
  font-size: 15px;
  font-weight: bold;
  min-height: 35px;
}

.table-head div,
.table-row div {
  display: inline-block;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  padding: 5px;
}

.table-row > * {
  min-height: 30px;
}

.table-title-head,
.table-title {
  width: 60%;
}

.table-title .table-titleicon {
  display: inline-block;
  width: 30px;
  height: 30px;
  min-height: 30px;
  padding: 0px;
  background-repeat: no-repeat;
  vertical-align: top;
}

.table-title .table-titletext {
  display: inline-block;
  width: 90%;
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 0px;
  padding-bottom: 0px;
}

.table-row .table-title h4,
.table-row .table-title h4 a {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-title .table-titletext h4 {
  margin: 0px;
  min-height: 20px;
  font-size: 18px;
  font-weight: normal;
}

.table-title a.table-titlenewpost img {
  width: auto;
  min-height: 5px;
  padding-top: 7px;
  box-sizing: content-box;
}

.table-title a.table-titlereported img {
  width: auto;
  min-height: 5px;
}

.table-title .table-titledesc {
  padding: 0px;
  font-size: 11px;
  display: block;
  white-space: normal;
}

.table-title .table-titlemeta {
  display: inline-block;
  min-height: 5px;
  padding: 0px;
}

.table-title .table-rssicon {
  min-height: 15px;
  height: 15px;
  line-height: 15px;
}

.table-title .table-rssicon:hover {
  text-decoration: none;
}

.table-head .table-replies-head,
.table-head .table-views-head {
  text-align: center;
}

.table-head .table-replies-head,
.table-head .table-views-head,
.table-row .table-replies,
.table-row .table-views {
  width: 10%;
  max-width: 100px;
  min-width: 90px;
  vertical-align: top;
}

.table-row .table-replies .ministat,
.table-row .table-views .ministat {
  display: inline-block;
  text-align: center;
  margin: 0px;
  background: #222;
  color: #fff;
  border-radius: 4px;
  padding: 8px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  text-shadow: none;
  width: 100%;
  min-height: 20px;
  height: auto;
}

.table-row .ministat dfn {
  display: block;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 4px;
  font-style: normal;
  min-height: 10px;
}

.table-head .table-lastpost-head,
.table-row .table-lastpost {
  width: 20%;
  vertical-align: top;
}

.table-row .table-lastpost {
  min-height: 50px;
  text-overflow: ellipsis;
  font-size: 14px;
}

.table-row .table-lastpost .lastpost-info:first-child {
  margin-top: 10px;
  display: inline-block;
}

.table-row .table-lastpost .lastpost-topiclink {
  font-style: normal;
}

.table-row .table-lastpost .lastpost-smartlink {
  display: none;
}

.table-row .table-lastpost .lastpost-desklink {
  padding-left: 10px; /* larger clicking area */
  padding-right: 5px;

  display: inline-block;
}

.table-row .table-lastpost .lastpost-info {
  display: inline-block;
  vertical-align: top;
}

.table-row .table-lastpost .lastpost-time {
  position: relative;
  top: -3px;
  color: #777;
}

.table-row .table-lastpost .lastpost-time,
.table-row .table-lastpost .lastpost-info {
  font-size: 12px;
}

@media all and (max-width: 1000px)
{
  .table-head .table-views-head,
  .table-row .table-views {
    display: none !important;
  }

  .table-head .table-lastpost-head,
  .table-row .table-lastpost {
    width: 28%;
    white-space: nowrap;
  }
}

@media all and (max-width: 815px)
{
  .table-row .table-title h4 {
    font-size: 17px;
  }
  .table-head .table-title-head,
  .table-row .table-title {
    width: 80%;
  }

  .table-head .table-replies-head,
  .table-row .table-replies {
    top: 0px;
    display: block;
    float: right;
    position: relative;
  }

  .table-head .table-lastpost-head {
    display: none !important;
  }

  .table-row .table-lastpost {
    display: block;
    width: 75%;
    position: relative;
    height: auto;
    min-height: 5px;
    margin-left: 41px;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 0px;
    border-top: 1px dashed #ccc;
  }

  .table-row .table-lastpost .lastpost-time {
    top: 0px;
  }

  .table-row .table-lastpost .lastpost-info,
  .table-row .table-lastpost .lastpost-time {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 10px;
    padding-top: 4px;
  }

  .table-row .table-lastpost .lastpost-delimiter {
    display: none;
  }

  .table-row .table-lastpost .lastpost-desklink {
    display: none;
  }

  .table-row .table-lastpost .lastpost-smartlink {
    font-size: 20px;
    line-height: 20px;
    min-height: 20px;
    display: inline-block;
    vertical-align: middle;
  }

  .table-row .table-lastpost .lastpost-topiclink,
  .table-row .table-lastpost .lastpost-topiclink + br {
    display: none;
  }

  .table-row .table-lastpost .lastpost-info:first-child {
    margin-top: 0px;
  }

  .table-row .table-title {
    min-height: 15px;
    height: auto;
  }

  .table-row .table-title .table-titletext {
    max-width: 90%;
    width: 90%;
  }

  .table-row * {
    min-height: 20px;
  }
}

@media all and (max-width:510px)
{
  .table-head .table-replies-head,
  .table-row .table-replies {
    display: none;
  }

  .table-row .table-lastpost {
    min-width: 80%;
    width: 80%;
  }

  .table-head .table-title-head,
  .table-row .table-title {
    width: 90%;
  }

  .table-row .table-title h4 {
    font-size: 16px;
  }

  #wrap .pagination-total {
    display: none;
  }
}

@media all and (max-width:360px)
{
  .table-row .table-lastpost .lastpost-time {
    display: none;
  }
}

/******************************************************************************/
/* overall_pageheader */

#pageheader {
  padding: 20px;
  background: #555555 url('./img/head.jpg') repeat 0 0;
  background-size: 100%;
  background-position: center;
  color: #fff;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4);
  min-height: 200px;
}
#pageheader .headcontainer {
  clear:both;
}
#pageheader #searchbox {
  float: right;
}
#pageheader #searchbox p {
  float: right;
}
#pageheader #searchbox #search  {
  clear: both;
  margin-top: 120px;
  margin-bottom: 0px;
}
#pageheader #searchbox #search .responsive-inline {
  margin-left: 5px;
  display: inline-block;
  float: none;
}
#pageheader #searchbox .search-query {
  opacity: 0.8;
}
#pageheader #searchbox .search-query:focus {
  opacity: 1;
}
#pageheader #searchbox a {
  color: #ccc;
}
#pageheader #searchbox a:hover {
  color: #fff;
}
#pageheader p {
  margin: 0;
}
#pageheader p.logo-description {
  font-size: 12px;
}
#wrap .pagenavbar {
  width: 100%;
  margin-left: 0px;
}
.responsive-nav-trigger {
  display: none;
}
.responsive-dropdown-trigger {
  color: #999;
  padding: 10px 5px 10px 5px;
  margin-left: 8px;
  cursor: pointer;
}
.responsive-dropdown-trigger:hover {
  color: #fff;
}
.responsive-dropdown-menu {
  transition: height 50ms, padding 50ms, border 50ms;
  transition-delay: 150ms;
  display: block;
  height: 0px;
  overflow: hidden;
  padding: 0px;
  border: 0px;
}
.responsive-dropdown-trigger:focus + .responsive-dropdown-menu {
  padding: 5px;
  height: 150px;
  border: 1px solid #ccc;
  padding: 5px 0;
}

.pagefooter {
  width: 100%;
  overflow: hidden;
}

.lastvisit {
  margin: 0;
  color: #888;
}
.quicklogin {
  margin: 10px 0 0 0;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  display: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 20px;
  z-index: 300;
}
.quicklogin.in {
  display: block;
}
.quicklogin:before,
.quicklogin:after {
  content: '';
  display: block;
  position: absolute;
  top: -13px;
  right: 30px;
  border: 6px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.1);
}
.quicklogin:after {
  border-width: 5px;
  border-bottom-color: #fff;
  top: -10px;
  right: 31px;
}
.quicklogin .checkbox {
  font-size: 12px;
}

table.viewonline {
  width: 100%;
}

table.viewonline th {
  height: 40px;
  font-size: 18px;
  padding: 10px;
}

table.viewonline tbody tr {
  border-top: 1px solid #aaa;
}

table.viewonline tbody tr td {
  padding: 10px;
}

@media all and (max-width:850px)
{
  #pageheader {
  	background-size: 850px;
  	background-position: left;
  }
}

@media all and (max-width: 768px) {
  #wrap .quicklogin {
    right: 0px;
    z-index: 3000;
  }
}

@media all and (max-width: 767px) {
  body#phpbb {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media all and (max-width:700px) {
  .pagenavbar navbar-inner {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }
}

@media all and (max-width:520px) {
  #page-body .responsive-toolbar .btn-group > .responsive-linegroup {
    display: block;
  }
  #page-body .responsive-toolbar .btn-group > .responsive-linegroup .btn,
  #page-body .responsive-toolbar .btn-group > .responsive-linegroup .btn:first-child {
    border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    margin-top: 5px;
    margin-right: 5px;
    width: 44%;
  }
  #page-body .responsive-toolbar {
    width: 100%;
  }
  #page-body .responsive-toolbar .responsive-left-group {
    float:left;
  }
}

@media all and (max-width:440px) {
  #pageheader {
    display: none;
  }

  #pageheader #searchbox {
    float: left;
    width: 100%;
  }
  #pageheader #searchbox #search input {
    width: 90%;
  }
}