/******************************************************************************/
/* common_spacing */

.no-margin { margin: 0px; }
.small-margin { margin: 10px; }
.medium-margin { margin: 20px; }
.big-margin { margin: 40px; }

.no-left-margin { margin-left: 0px; }
.small-left-margin { margin-left: 10px; }
.medium-left-margin { margin-left: 20px; }
.big-left-margin { margin-left: 40px; }

.no-bottom-margin { margin-bottom: 0px; }
.small-bottom-margin { margin-bottom: 10px; }
.medium-bottom-margin { margin-bottom: 20px; }
.big-bottom-margin { margin-bottom: 40px; }

.no-right-margin { margin-right: 0px; }
.small-right-margin { margin-right: 10px; }
.medium-right-margin { margin-right: 20px; }
.big-right-margin { margin-right: 40px; }

.no-top-margin { margin-top: 0px; }
.small-top-margin { margin-top: 10px; }
.medium-top-margin { margin-top: 20px; }
.big-top-margin { margin-top: 40px; }

.no-padding { padding: 0px; }
.small-padding { padding: 10px; }
.medium-padding { padding: 20px; }
.big-padding { padding: 40px; }

/* TODO: add further padding specifiers */

/******************************************************************************/
/* displaying */

.only-on-handheld { display: none; }
.only-on-tab { display: none; }
.only-on-large-tab { display: none; }
.only-on-smartphone { display: none; }

/******************************************************************************/
/* common_global */

html, html * {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* from bootstrap */
}

html *, * {
  box-sizing: border-box;
}

a,
a:hover,
a:visited,
a:focus,
a:active {
  outline: 0px none;
  color: #00A0E0;
  text-decoration: none;    
}

/******************************************************************************/
/* common_headings */

h2,
h2 a {
  font-size: 28px;
  font-weight: normal;
  color: #333;
  margin-bottom: 0px;    
}

/******************************************************************************/
/* common_box */

.box {
  padding: 10px;
  background: rgba(0, 0, 0, 0.09);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  border-radius: 4px;
}

.box .header {
  font-weight: bold;
  color: #777;
  font-size: 15px;
}

.well {
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  padding: 10px;
  background-color: #e5e5e5;
  margin-bottom: 10px;
}

/******************************************************************************/
/* common_buttons */

.btn, a.btn {
  display: inline-block;
  background-color: rgb(221, 221, 221);
  border: 1px solid #bbb;
  border-radius: 4px;
  
  box-sizing: border-box;
  padding: 5px;
  padding-top: 6px;  
  width: auto;  
  
  font-size: 12px;
  color: #333;  
}
.btn-small {  
  padding-top: 5px;
  min-height: 28px;
  height: 28px;  
}
.btn-medium {
  padding-top: 6px;
  min-height: 38px;
  height: 38px;
}
.btn:hover {
  background-color: #eee;
  color: #666;
}

.btn-group {
  display: inline-block;
  vertical-align: top;
  min-height: 28px;
  font-size: 0px;
}
.btn-group > .btn {  
  border-radius: 0px;  
  vertical-align: top;  
}
.btn-group > .btn ~ .btn {
  margin-left: -1px;
}
.btn-group > .btn:first-child {
  border-right: 1px solid #bbb;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;  
}
.btn-group > .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.btn-group > .btn:first-child + .btn {
  border-left: 1px solid #bbb;
}
.btn-group + .btn,
.btn + .btn-group {
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
}

#wrap .btn a:hover {
  text-decoration: none;
}

/* Small-Button-Icons */
.btn-small i {
  font-size: 14px;
}

/******************************************************************************/
/* common_overboxctrl */

div.overboxctrl {  
  display: block;
  position: relative;
  height: auto;
  margin-bottom: 20px;  
}

div.overboxctrl .overboxright,
div.overboxctrl .overboxleft,
div.overboxctrl .overboxcenter {
  position: relative;
  display: inline-block;  
  width: auto;
  height: auto;
}

div.overboxctrl .overboxright {
  position: absolute;
  right: 0px;
  top: 0px;
}
div.overboxctrl .overboxleft {
  height: auto;  
}
div.overboxctrl .overboxcenter {    
  position: absolute;
  left: 50%;
  margin-left: -15%;
  width: 30%;  
  top: 15%;
  text-align: center;        
}

/******************************************************************************/
/* common_misc */

fieldset {
  border: 0px;
}

hr {
  border: 1px solid #d4d4d4;
}

/******************************************************************************/
/* overall_pageheader */

#pageheader {
  padding: 20px;
  background: #555555 url('./img/head.jpg') repeat 0 0;
  background-size: 100%;
  background-position: center;
  color: #fff;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4);
  min-height: 200px;
}
#pageheader .headcontainer {
  clear:both;
}
#pageheader #searchbox {
  float: right;
}
#pageheader #searchbox p {
  float: right;
}
#pageheader #searchbox #search  {
  clear: both;
  margin-top: 120px;
  margin-bottom: 0px;
}
#pageheader #searchbox #search .responsive-inline {
  margin-left: 5px;
  display: inline-block;
  float: none;
}
#pageheader #searchbox .search-query {
  opacity: 0.8;
}
#pageheader #searchbox .search-query:focus {
  opacity: 1;
}
#pageheader #searchbox a {
  color: #ccc;
}
#pageheader #searchbox a:hover {
  color: #fff;
}
#pageheader p {
  margin: 0;
}
#pageheader p.logo-description {
  font-size: 12px;
}
#wrap .pagenavbar {
  width: 100%;
  margin-left: 0px;
}
.responsive-nav-trigger {
  display: none;
}
.responsive-dropdown-trigger {
  color: #999;
  padding: 10px 5px 10px 5px;
  margin-left: 8px;
  cursor: pointer;
}
.responsive-dropdown-trigger:hover {
  color: #fff;
}
.responsive-dropdown-menu {
  transition: height 50ms, padding 50ms, border 50ms;
  transition-delay: 150ms;
  display: block;
  height: 0px;
  overflow: hidden;
  padding: 0px;
  border: 0px;
}
.responsive-dropdown-trigger:focus + .responsive-dropdown-menu {
  padding: 5px;
  height: 150px;
  border: 1px solid #ccc;
  padding: 5px 0;
}

.pagefooter {
  width: 100%;
  overflow: hidden;
}

.lastvisit {
  margin: 0;
  color: #888;
}
.quicklogin {
  margin: 10px 0 0 0;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  display: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 20px;
  z-index: 300;
}
.quicklogin.in {
  display: block;
}
.quicklogin:before,
.quicklogin:after {
  content: '';
  display: block;
  position: absolute;
  top: -13px;
  right: 30px;
  border: 6px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.1);
}
.quicklogin:after {
  border-width: 5px;
  border-bottom-color: #fff;
  top: -10px;
  right: 31px;
}
.quicklogin .checkbox {
  font-size: 12px;
}

table.viewonline {
  width: 100%;    
}

table.viewonline th {
  height: 40px;
  font-size: 18px;
  padding: 10px;  
}

table.viewonline tbody tr {
  border-top: 1px solid #aaa;    
}

table.viewonline tbody tr td {
  padding: 10px;
}

@media all and (max-width:850px)
{
  #pageheader {
  	background-size: 850px;
  	background-position: left;
  }
}

@media all and (max-width: 768px) {
  #wrap .quicklogin {
    right: 0px;
    z-index: 3000;
  }
}

@media all and (max-width: 767px) {
  body#phpbb {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media all and (max-width:700px) {
  .pagenavbar navbar-inner {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }
}

@media all and (max-width:520px) {
  #page-body .responsive-toolbar .btn-group > .responsive-linegroup {
    display: block;
  }
  #page-body .responsive-toolbar .btn-group > .responsive-linegroup .btn,
  #page-body .responsive-toolbar .btn-group > .responsive-linegroup .btn:first-child {
    border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    margin-top: 5px;
    margin-right: 5px;
    width: 44%;
  }
  #page-body .responsive-toolbar {
    width: 100%;
  }
  #page-body .responsive-toolbar .responsive-left-group {
    float:left;
  }
}

@media all and (max-width:440px) {
  #pageheader {
    display: none;      
  }   
  
  #pageheader #searchbox {
    float: left;
    width: 100%;
  }
  #pageheader #searchbox #search input {
    width: 90%;
  }
}