/******************************************************************************/
/* editor_recipient */

.posting-editor label.heading {
  font-size: 15px;
  font-weight: normal;
  display: block;
  margin-bottom: 10px;
}

.to-recipient-list .btn-rec-remove {
  padding: 2px;
  padding-left: 3px;
  padding-top: 0px;
  font-size: 20px;
  line-height: 20px;
  height: 21px;
}

.to-recipient-list > div {
  height: 28px;
  padding-top: 3px;
}

.posting-editor .recipient-edit dt {
  text-align: left;
  max-width: 120px;
}

.posting-editor .recipient-edit dt input {
  width: 100%;
}

.posting-editor .recipient-edit dd {
  padding-left: 10px;
}

/******************************************************************************/
/* editor_main */

.posting-container {
}

.posting-container #message-box .inputbox {
  width:100%;
}

#format-buttons div.btn-group .btn {
  font-size: 12px;
}

#format-buttons #fmt-fontsize {
  margin: 0px 0px;
  height: 28px;
  position: relative;
  border-radius: 3px;
  border: 1px solid #aaa;
  cursor: pointer;
}

.editor-subject {    
}
dl.editor-subject dt {
  display: block;
  text-align: left;
}
dl.editor-subject dt label,
dl.editor-subject dt label.heading {
  margin-bottom: 0px;
}
dl.editor-subject dd {
  padding-left: 0px;
  display: block;
}
.editor-subject input {
  width: 75%;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 3px;
}

.editor-icon {
  margin-top: 10px;
}
dl.editor-icon dt {
  display: inline-block;
  text-align: left;
  width: auto;
  line-height: 28px;
  margin-right: 20px;
}
dl.editor-icon dt label,
dl.editor-icon dt label.heading {
  margin-bottom: 0px;
}
dl.editor-icon dd {
  padding-left: 0px;
  padding-top: 6px;
}

.editor-container {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}

.editor-container * {
  box-sizing: border-box;
}

.editor-container #message-box {
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 75%;
}

.editor-container #message-box textarea {
  border-radius: 3px;
  border: 1px solid #aaa;
}

@media only screen and (max-device-width: 1199px)
{
  .editor-subject input,
  .editor-container #message-box textarea {
    font-size: 18px !important;
  }
}

.editor-container #smiley-box {
  position: relative;
  display: inline-block;
  width: 20%;
  max-width: 150px;
  margin-left: 10px;
}
.editor-container #smiley-box .editor-smileycollection > strong {
  margin-bottom: 5px;
  font-size: 14px;
  display: block;
  color: #333;
}
.editor-container #smiley-box .editor-smileycollection .editor-moresmileys {
  margin-top: 5px;
  display: block;
}

.editor-container .editor-bbstatus {
  font-size: 11px;
  line-height: 15px;
  color: #555;
}

.editor-submitrow {
  display: block;
  width: 75%;
  height: auto;
  position: relative;
  left: 5px;
  margin-bottom: 30px;
}

.editor-submitrow-inner {
  width: 100%;
  position: relative;
  display: inline-block;
}

.editor-submitrow + * {
  clear: both;
}

.editor-submitrow-inner > * {
  float: right;
}

#wrap #editor-poll-votechange {
  font-weight: normal;
}

@media all and (max-width:730px)
{
  #format-buttons div.btn-group .btn {
    font-size: 11px;
    padding: 0px 6px;
    width: auto !important;
    min-width: 25px;
  }
  #format-buttons div.btn-group input#fmt-code,
  #format-buttons div.btn-group input#fmt-listex,
  #format-buttons div.btn-group input.fmt-customtag {
    display: none;
  }
  #format-buttons div.btn-group input#fmt-fontcolor {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

@media all and (max-width:500px)
{
  .editor-subject input {
    width: 100%;
  }
  .editor-container #message-box {
    display: block;
    width: 100%;
  }
  .editor-container #smiley-box {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
    margin-left: 0px;
  }
  .editor-container .editor-bbstatus {
    display: inline-block;
    padding-left: 10px;
  }
  .editor-container .editor-bbstatus > hr {
    display: none;
  }
  .editor-container .editor-smileycollection {
    display: inline-block;
    max-width: 60%;
    border-right: 1px solid #888;
  }

  .editor-submitrow {
    width: 100%;
  }
}

@media all and (max-width: 486px)
{
  /* fix format-button styling */
  #format-buttons {
    position: relative;
    width: 100%;
    display: block;
    height: 40px;
  }

  /* prevent format btn-group from transforming into magic one */
  #format-buttons div.format-btngroup {
    background: transparent;
    border: 0px;
    text-align: left;
    float: left;
    width: auto;
  }
  #format-buttons div.format-btngroup .btn {
    background-color: rgb(221,221,221);
    border: 1px solid rgb(187,187,187);
    float: none;
  }
  #format-buttons div.format-btngroup .btn:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  #format-buttons div.format-btngroup .btn:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  #format-buttons div.format-btngroup .btn ~ .btn {
    margin-left: -4px;
  }

  #format-buttons div#format-colorbtngroup.format-btngroup {
    display: inline-block;
    width: auto;
    position: absolute;
    right: 0px;
  }

  #format-buttons #fmt-fontsize {
    display: none;
  }
}

@media all and (max-width: 375px)
{
  .editor-container .editor-smileycollection {
    max-width: 45%;
    vertical-align: top;
    padding-right: 5px;
    margin-left: 5px;
  }
  .editor-container .editor-smileycollection a.editor-moresmileys {
    font-size: 11px;
  }
  .editor-container .editor-bbstatus {
    width: 45%;
    min-width: 100px;
    padding-left: 5px;
    font-size: 10px;
  }

  #wrap div.editor-submitrow-inner fieldset.submit-buttons input.btn {
    font-size: 11px;
  }
  .editor-submitrow-inner .editor-submitrow-draft {
    display: none;
  }
  .editor-optionsnav {
    border-bottom: 1px solid #ddd;
  }
  .editor-optionsnav li {
    float: none;
    font-size: 11px;
    display: block;
  }
  .editor-optionsnav li ~ li {
    border-top: 1px solid #ddd;
  }
  .editor-options label {
    font-size: 11px;
    line-height: 11px;
  }
}

/******************************************************************************/
/* editor_options */

.posting-container .editor-optionsnav {
  display: block;
  background-color: #e8e8e8;
  list-style-type: none;
}

.posting-container ul.editor-optionsnav li {
  display: inline-block;  
  border: 0px;  
  color: #555;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #e8e8e8;
  margin: 0px 5px;
  padding: 0px 8px;
  line-height: 40px;
  font-weight: normal;
  position: relative;    
}
.posting-container .editor-optionsnav li:hover {
  background-color: transparent;
}
.posting-container .editor-optionsnav li.active {
  color: #fff;
  background-color: #d3d3d3;
  border: 1px solid #aaa;
  border-bottom: 0px;    
  z-Index: 1000;
}

.posting-container .editor-optionsnav li a,
.posting-container .editor-optionsnav li a:hover {
  padding: 0px;
  color: rgb(85, 85, 85);
}
.posting-container .editor-optionsnav li.active a {
  color: #fff;  
}

.editor-options {
  margin-top: -1px;
  background-color: #d3d3d3;
  border: 1px solid #aaa;
  border-radius: 4px;
  position: relative;
  z-Index: 0;
}

.editor-options fieldset {
  padding: 20px;
}

.editor-options fieldset div {
  height: 20px;
}

.editor-options label {
  font-weight: normal;
  line-height: 15px;
}