span.imageset {
	display: inline-block !important;
	background: transparent none 0 0 no-repeat;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
	overflow: hidden;
}



.imageset.site_logo {
    background-image: url("./img/site_logo.png");
    width: 200px;
    height: 70px;
}





.imageset.forumicon.forum_read {
    background-image: url("./img/forum_read.gif");    
}

.imageset.forumicon.forum_link {
    background-image: url("./img/forum_link.gif");
}
.imageset.forumicon.forum_read_locked {
    background-image: url("./img/forum_read_locked.gif");
}
.imageset.forumicon.forum_read_subforum {
    background-image: url("./img/forum_read_subforum.gif");
}
.imageset.forumicon.forum_unread {
    background-image: url("./img/forum_unread.gif");
}
.imageset.forumicon.forum_unread_locked {
    background-image: url("./img/forum_unread_locked.gif");
}
.imageset.forumicon.forum_unread_subforum {
    background-image: url("./img/forum_unread_subforum.gif");
}








.imageset.topic_moved {
	background-image: url("./img/topic_moved.gif");
}
.imageset.topic_read {
	background-image: url("./img/topic_read.gif");	
}
.imageset.topic_read_mine {
	background-image: url("./img/topic_read_mine.gif");
}
.imageset.topic_read_hot {
	background-image: url("./img/topic_read_hot.gif");	
}
.imageset.topic_read_hot_mine {
	background-image: url("./img/topic_read_hot_mine.gif");	
}
.imageset.topic_read_locked {
	background-image: url("./img/topic_read_locked.gif");
}
.imageset.topic_read_locked_mine {
	background-image: url("./img/topic_read_locked_mine.gif");
}
.imageset.topic_unread {
	background-image: url("./img/topic_unread.gif");
}
.imageset.topic_unread_mine {
	background-image: url("./img/topic_unread_mine.gif");	
}
.imageset.topic_unread_hot {
	background-image: url("./img/topic_unread_hot.gif");	
}
.imageset.topic_unread_hot_mine {
	background-image: url("./img/topic_unread_hot_mine.gif");	
}
.imageset.topic_unread_locked {
	background-image: url("./img/topic_unread_locked.gif");
}
.imageset.topic_unread_locked_mine {
	background-image: url("./img/topic_unread_locked_mine.gif");
}
.imageset.sticky_read {
	background-image: url("./img/sticky_read.gif");	
}
.imageset.sticky_read_mine {
	background-image: url("./img/sticky_read_mine.gif");
}
.imageset.sticky_read_locked {
	background-image: url("./img/sticky_read_locked.gif");
}
.imageset.sticky_read_locked_mine {
	background-image: url("./img/sticky_read_locked_mine.gif");	
}
.imageset.sticky_unread {
	background-image: url("./img/sticky_unread.gif");	
}
.imageset.sticky_unread_mine {
	background-image: url("./img/sticky_unread_mine.gif");	
}
.imageset.sticky_unread_locked {
	background-image: url("./img/sticky_unread_locked.gif");	
}
.imageset.sticky_unread_locked_mine {
	background-image: url("./img/sticky_unread_locked_mine.gif");	    
}
.imageset.announce_read {
	background-image: url("./img/announce_read.gif");	
}
.imageset.announce_read_mine {
	background-image: url("./img/announce_read_mine.gif");	
}
.imageset.announce_read_locked {
	background-image: url("./img/announce_read_locked.gif");	
}
.imageset.announce_read_locked_mine {
	background-image: url("./img/announce_read_locked_mine.gif");
}
.imageset.announce_unread {
	background-image: url("./img/announce_unread.gif");	
}
.imageset.announce_unread_mine {
	background-image: url("./img/announce_unread_mine.gif");	
}
.imageset.announce_unread_locked {
	background-image: url("./img/announce_unread_locked.gif");
}
.imageset.announce_unread_locked_mine {
	background-image: url("./img/announce_unread_locked_mine.gif");	
}
.imageset.global_read {
	background-image: url("./img/announce_read.gif");
}
.imageset.global_read_mine {
	background-image: url("./img/announce_read_mine.gif");	
}
.imageset.global_read_locked {
	background-image: url("./img/announce_read_locked.gif");	
}
.imageset.global_read_locked_mine {
	background-image: url("./img/announce_read_locked_mine.gif");
}
.imageset.global_unread {
	background-image: url("./img/announce_unread.gif");
}
.imageset.global_unread_mine {
	background-image: url("./img/announce_unread_mine.gif");
}
.imageset.global_unread_locked {
	background-image: url("./img/announce_unread_locked.gif");
}
.imageset.global_unread_locked_mine {
	background-image: url("./img/announce_unread_locked_mine.gif");
}
.imageset.subforum_read {
	background-image: url("./img/subforum_read.gif");
}
.imageset.subforum_unread {
	background-image: url("./img/subforum_unread.gif");
}