/******************************************************************************/
/* index_lastvisit */

#wrap .lastvisitcontainer {
  position: relative;
  top: -43px;
  clear: both;
  display: block;
  width: 100%;
  height: 20px;
  padding-right: 20px;
}

#wrap ul.lastvisit {
  list-style: none;
  margin-top: 0px;   
}

#wrap ul.lastvisit li {
  float: left;
}

#wrap ul.lastvisit li:first-child + li {
  margin-left: 10px;
}

@media all and (max-width: 486px)
{
  #wrap .lastvisitcontainer {
    top: -23px;  
  }
}

/******************************************************************************/
/* index_registerbtn */

#wrap a#index-registerbtn {
  background-color: #3a77e8;
  border-color: #1a57c8;
  color: #fff;
}

#wrap a#index-registerbtn:hover {
  background-color: #2464d4;
}

/******************************************************************************/
/* common_overboxctrl */

#wrap div.overboxctrl .overboxleft .btn-moderation {  
}

@media all and (max-width:980px) {
  /** OVERBOX TOOLBOX **/ 
  #wrap div.overboxctrl .overboxleft .btn-moderation .text {
    display: none;
  }
  
  #wrap div.overboxctrl .overboxleft .btn-markforums {
    display: none;  
  }
}

@media all and (max-width:840px) {
  .box .tablerow .row-fluid .span-lastpost {
    width: 100%;
    margin-left: 0px;
    color: #888;
  }
  .box .tablerow .row-fluid .span-lastpost i.icon-caret-right {
    font-size: 16px;
  }
  .box .tablerow .row-fluid .span-lastpost > div.lastpost {
    margin-top: 0px;
  }
  .box .tablerow .row-fluid .span-lastpost br {
    display: none;
  }
}

@media all and (max-width:640px) {
  #wrap .overboxctrl .overboxleft .btn-unanswered {
    display:none;  
  }
  #wrap .overboxctrl .overboxleft .btn-moderation {
    margin-right: -2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;      
  }
  #wrap .overboxctrl .overboxleft .btn-moderation + .btn-group {
    margin-left: -2px;  
  }
  #wrap .btn-index-active {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;  
  }  
}

@media all and (max-width:486px) {
  .main-toolbar {
    float: none;
  }
  #wrap .main-toolbar .btn-group > .btn {
    min-width: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 30px;
  }
  #wrap div.overbx-index .overboxleft .btn-moderation {
    margin-bottom: 20px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  #wrap div.overbx-index .overboxleft .btn-moderation .text {
    display: inline-block;  
  }
  #wrap div.overbx-index {    
    max-height: 200px;
    height: 50px;    
    display: block;
    position: relative;
    top: -20px;      
  }
  
  #wrap .overbx-index + .box {
    margin-top: 60px;  
  }
  
  #wrap a#index-registerbtn {
    width: 98%;
    margin-left: 1%;
    height: 30px;
    margin-top: 10px;
  }
}