/******************************************************************************/
/* index_lastvisit */

#wrap .lastvisitcontainer {
  position: relative;
  top: -43px;
  clear: both;
  display: block;
  width: 100%;
  height: 20px;
  padding-right: 20px;
}

#wrap ul.lastvisit {
  list-style: none;
  margin-top: 0px;

}

#wrap ul.lastvisit li {
  float: left;
}

#wrap ul.lastvisit .lastvisit-welcome {
  padding-right: 10px;
}

#wrap ul.lastvisit li:first-child ~ li {
  padding-left: 10px;
}

@media all and (max-width: 486px)
{
  #wrap .lastvisitcontainer {
    top: -23px;
  }
}

/******************************************************************************/
/* index_registerbtn */

#wrap a#index-registerbtn {
  background-color: #3a77e8;
  border-color: #1a57c8;
  color: #fff;
}

#wrap a#index-registerbtn:hover {
  background-color: #2464d4;
}

