/******************************************************************************/
/* Memberlist related stuff */

.memberlist {
  background: rgba(0, 0, 0, 0.08);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  padding: 5px 20px;
  overflow: hidden;
  border-radius: 4px;
}

.memberlist table {
  width: 100%;
}

.memberlist th {
  line-height: 40px;
  border-bottom: 1px solid #ccc;
}

.memberlist .leaderrow {
  height: 40px;
}

.memberlist .ml-row {
  height: 35px;
}

.memberlist .ml-name {
  width: 35%;
  text-align:left;
}

.memberlist .ml-posts {
  width: 10%;
  text-align: center;
}

.memberlist .ml-info {
  width: 25%;
}

.memberlist .ml-joined {
  width: 15%;
  text-align:left;
}

.memberlist .ml-active {
  width: 15%;
  text-align:left;
}

.ml-pagination {
  margin: 0px;
  float:right;
}

.memberlist-view-details div.detailrow div,
.memberlist-view-stats div.detailrow div {
  float: left;
  margin-bottom: 10px;
}

.memberlist-view-details div.detailrow > div:first-child {
  font-weight: bold;
  min-width: 120px;
}

.memberlist-view-stats div.detailrow > div:first-child {
  font-weight: bold;
  min-width: 200px;
  margin-bottom: 20px;
}

.memberlist-view-details div.detailrow,
.memberlist-view-stats div.detailrow {
  clear: left;
}

.memberlist-view-responsiveavatar-image,
.memberlist-view-responsiveavatar-image img {
  display: none;
}

.memberlist-view-nonresponsiveavatar {
  border-right: 2px solid #e5e5e5;
  min-height: 120px;
}

.memberlist-view-nonresponsiveavatar img {
  border: transparent;
  border-radius: 4px;
}

.memberlist-view-nonresponsiveavatar .memberlist-view-ranktitle {
  text-align: center;
}

.memberlist-view-responsiveavatar {
  min-height: 30px;
  margin-bottom: 10px;
  background-color: transparent;
}

@media all and (max-width:840px) {
  .memberlist-view-changegroup select {
     max-width: 150px;
  }
  .memberlist-view-responsiveavatar {
    min-height: 100px;
    width: 100%;
    position: relative;
  }
  .memberlist-view-nonresponsiveavatar {
    display: none;
  }
  .memberlist-view-responsiveavatar-image {
    position: absolute;
    display: block;
    width: inherit;
    overflow: hidden;
    min-height: 100px;
    max-height: 100px;
    border: 1px solid #aaa;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #dadada;
  }
  .memberlist-view-responsiveavatar div.btn-group {
    position: absolute;
    z-index: 10;
    top: 5px;
    right: 5px;
  }
  .memberlist-view-responsiveavatar-image + div.btn-group a {
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-color: #f3f3f3;
  }
  .memberlist-view-responsiveavatar-image img {
    width: 100%;
    height: auto;
    position: relative;
    top: -150px;
    opacity: 0.8;
    display: block;
  }
  .memberlist-view-details,
  .memberlist-view-stats {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .memberlist-view-details div.detailrow,
  .memberlist-view-stats div.detailrow {
    border-top: 1px solid #ddd;
    width: 100%;
    padding-top: 7px;
  }
  .memberlist-view-details div.detailrow:first-child,
  .memberlist-view-stats div.detailrow:first-child {
    border-top: 0px;
  }
  .memberlist-view-details div.detailrow div:first-child,
  .memberlist-view-stats div.detailrow div:first-child {
    margin-left: 10px;
  }
}

@media all and (max-width:486px)
{
  .memberlist-view-responsiveavatar {
    height: 150px;
  }
  .memberlist-view-responsiveavatar > div.btn-group {
    position: relative;
    right: 0px;
  }
  .memberlist-view-responsiveavatar-image {
    top: 50px;
  }
}