/******************************************************************************/
/* overall related stuff */
#page-body {
  padding-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

/********************************************************************/
/* footer related stuff */
#well-footer.well {
  background: #f2f2f2; /* Old browsers */
  background: -moz-linear-gradient(top,  #f2f2f2 0%, #dbdbdb 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f2f2f2 0%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f2f2f2 0%,#dbdbdb 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f2f2f2 0%,#dbdbdb 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f2f2f2 0%,#dbdbdb 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
  position: relative;
}

#well-footer.well .well-footer-left {
  list-style: none;
  display: inline-block;
  margin: 0px;
  vertical-align: middle;  
}

#well-footer.well .well-footer-right {
  list-style: none;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 20px;
}

#well-footer.well .well-footer-right li {
  display: inline-block;
  margin-right: 20px;
}

@media all and (max-width: 800px)
{
  #well-footer.well {
    height: 90px;  
  }
  #well-footer.well .well-footer-left {
    margin-top: 10px;  
  }
  #well-footer.well .well-footer-right {
    padding-left: 40px;
    padding-right: 20px;
    border-left: 1px solid #bbb;
    top: 10px;  
  }
  #well-footer.well .well-footer-right li {
    display: block;
    margin-right: 0px;
    margin-bottom: 5px;    
  }  
}

@media all and (max-width: 500px)
{
  #well-footer.well .well-footer-right {
    padding-left: 10px;
    font-size: 11px;
    padding-right: 0px;  
  }
  #well-footer.well .well-footer-left {
    padding-left: 0px;  
    font-size: 11px;
  }
  #well-footer.well {
    height: 78px;  
  }
}

/********************************************************************/
/* MAIN NAVIGATION */
#wrap div.navigation {  
  display: block;  
  background: transparent;  
}

#wrap div.navbar-default {
  margin: 0px;
  background-color: #111;
  border-color: #080808;
  border-right: 0px;
  border-left: 0px;
  border-radius: 0px;    
}

#wrap .navbar button.navbar-toggle {
  float: none;  
  right: 5px;
  position: absolute;
  border-color: #222;  
}

#wrap .navbar .navbar-collapse {
  border-color: #000;  
}

#wrap .navbar button.navbar-toggle {
  outline: none;
}

#wrap .navbar button.navbar-toggle:hover,
#wrap .navbar button.navbar-toggle:focus {
  background-color: #222;
}

#wrap nav.navbar .navbar-collapse > ul.nav li a {
  padding: 10px;
}

#wrap div.navbar .navbar-header .navbar-brand {
  color: #ddd;
}
#wrap div.navbar .navbar-header .navbar-brand:hover {
  color: #fff;
  background-color: #010101;  
}

#wrap nav.navbar-collapse ul.nav li a {
  color: #cecece;
}

#wrap nav.navbar-collapse ul.nav li:hover,
#wrap nav.navbar-collapse ul.nav li a:focus,
#wrap nav.navbar-collapse ul.nav li a:visited {
  background-color: #333;
}

#wrap nav.navbar-collapse ul.nav li a:hover {
  color: #ffffff;
}

#wrap .navigation .navbar-header {
  position: relative;
  vertical-align: top;    
}

#wrap .static-nav {
  position: absolute;
  right: 0px;
  width: 18%;
  max-width: 180px;
  height: 50px;
  display: block;
  border-left: 1px dashed #000;
  text-align: center;
  padding-top: 15px;  
  color: #ddd;
  text-decoration: none;
}

#wrap .static-nav:hover {
  background-color: #181515;
}

#wrap .dropdown-account {
  background-color: #333;
}

#wrap .btn-primary {
  background-color: #66f;
  width: 100%;
  border-color: #33e;
}
#wrap .btn-primary:hover {
  background-color: #33e;
  color: #eee;
}
#wrap .chk-autologin {
  font-size: 11px;
}

/********************************************************************/

.pagefooter div {
  padding-right: 20px;
  padding-left: 20px;
}

/********************************************************************/
/* QUICK LOGIN BOX */
#wrap .quicklogin a.registerlink {
  margin: 10px;  
  position: relative;
  top: 10px;
  float: right;
  font-size: 15px;  
}

/********************************************************************/
/* CONTROLS ABOVE THE BOX */
#wrap div.overboxctrl {  
  display: block;
  position: relative;
  height: auto;
  margin-bottom: 20px;  
}

#wrap div.overboxctrl .overboxright,
#wrap div.overboxctrl .overboxleft,
#wrap div.overboxctrl .overboxcenter {
  position: relative;
  display: inline-block;  
  width: auto;
  height: auto;
}

#wrap div.overboxctrl .overboxright {
  position: absolute;
  right: 0px;
  top: 0px;
}
#wrap div.overboxctrl .overboxleft {
  height: auto;  
}
#wrap div.overboxctrl .overboxcenter {    
  position: absolute;
  left: 50%;
  margin-left: -15%;
  width: 30%;  
  top: 15%;
  text-align: center;        
}
/**/


@media all and (max-width:1000px){
	/** PAGE FOOTER **/
	.pagefooter div {
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 20px;
		width: 100%;
		text-align: center;
		float: none;
	}
}

@media all and (max-width:920px) {
	#wrap div.navigation ul.navbar-nav .pmicon {
	  display: inline-block;
	  vertical-align: top;
	  margin-top: 3px;
	}
	#wrap div.navigation ul.navbar-nav .pmdesc {
	  width: 11px;	  
	  overflow: hidden;
	  white-space: nowrap;
	  display: inline-block;	    	
	}
}

@media all and (max-width:840px) {
        #wrap div.overboxctrl .overboxright {
          display: none;
	}
	#wrap div.overboxctrl .overboxcenter {
	  left:auto;	  
	  right: 0px;
	}	
	
	ul.overall-footer-nav-right li {
	  clear:left;
	}

	ul.overall-footer-nav li {
	  clear:left;
	}

	ul.overall-footer-nav li .responsivenavitem,
	ul.overall-footer-nav-right li .responsivenavitem {
	  padding: 2px;
	  line-height: 20px;
	}

	ul.overall-footer-nav-right li div.responsivenavitem {
	  padding: 2px;
	  margin-top: 2px;
	  line-height: 20px;
	  color: #777;
	}

	ul.overall-footer-nav li a.firstitem,
	ul.overall-footer-nav-right li a.firstitem {
	  padding-top: 10px;
	}
	
	#wrap .navigation .navbar-header {
  	  width: 82%;    
	}
}

@media all and (max-width:600px) {
  /* pull pagination below main toolbar */
  #wrap div.overboxctrl .pagination {
    top: 50px;    
  }

  .responsive-navitem-privmsgs {
    width: 12px;
    overflow-x: hidden;
    white-space: nowrap;
  }
}

@media all and (max-width:486px) {

   #wrap #page-body {
     padding-left: 0px;
     padding-right: 0px;   
   }
   
   #wrap div.navbar .navbar-header .navbar-brand {
     font-size: 15px;
     font-weight: bold;           
   }
  
  /* switch to drop-down navmenu */
  .responsive-nav {
    width: 50%;
    height: 45px;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: height 50ms;
    transition-delay: 100ms;
  }

  #wrap .responsive-nav > li {
    clear: left;
    display: block;
    float: none;
  }

  #wrap .responsive-nav > li a {
    float: left;
    width: 90%;
    border: 1px solid transparent;
    margin-right: 0px;
    margin-left: 5px;
    padding-right: 0px;
  }

  #wrap .responsive-nav > li a:hover {
    background: rgba(0,0,0, 0.3);
    border-radius: 4px;
  }

  .responsive-nav-trigger i {
    color: #999;
    font-size: 21px;
  }
  .responsive-nav-trigger {
    display: block;
    float: left;
    position: relative;
    padding: 10px 5px 10px 5px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
  
  .responsive-nav-trigger:hover > i {
    color: #e3e3e3;
  }
  .responsive-nav-trigger:focus {
    outline: 0px;
  }
  .responsive-nav-trigger:focus + .responsive-nav {
    height: 125px;
  }
  #wrap .overboxctrl div.overboxleft {
    width: 100%;  
    display: block;
    position: relative;
  }
  #wrap .overboxctrl div.overboxcenter {
    width: 100%;
    position: relative;
    display: block;
    text-align: right;
    margin-top: 20px;
    margin-left: 0px;      
  }
  
  #wrap .static-nav .icon-signin,
  #wrap .static-nav .icon-signout {
    font-size: 18px;  
  }  
}

/*.small-select-wrapper, .small-select-wrapper select {
  width: 150px;
} */