/******************************************************************************/
/* overall_body */

body#phpbb {
  font-size: 13px;  
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#page-body {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/******************************************************************************/
/* overall_navigation */

.nav-bar {
  background-color: #111;
  font-size: 0px;
  border-bottom: 1px solid #000;     
}

.nav-login {
  display: inline-block;
  vertical-align: top;
  color: #f3f3f3;
  overflow: hidden;
  width: 15%;
  max-width: 150px;  
  height: 50px;
  box-sizing: border-box;
  padding-top: 17px;  
  font-size: 15px;
  background-color: #111;
  position: relative;
  text-align: right;
  padding-right: 10px;      
}
  
.nav-container {
  width: 85%;  
  background-color: #111;
  position: relative;
  display: inline-block;  
}

ul.nav li,
.nav-brand,
.nav-brand:visited {
  color: #f3f3f3;
  padding: 15px;
  font-size: 15px;
  font-family: Arial;
  box-sizing: border-box;  
  min-height: 40px;
  height: 50px;
  
  display: inline-block;
  vertical-align: top;           
}

.nav-brand {
  font-weight: bold;
}

ul.nav li {  
  font-size: 14px;
  padding: 0px;        
}

ul.nav li:hover {
  background-color: #888;
  border-bottom: 1px solid #888;
}

ul.nav li a,
ul.nav li a:hover,
ul.nav li a:visited {
  color: #f3f3f3;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 16px 8px;    
}

ul.nav {
  list-style-type: none;
  padding-left: 0px;
  display: inline;
  font-size: 0px;      
}

ul.nav-sub {
  list-style-type: none;
  background-color: #444;
  border: 1px solid #444;
  border-top: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin: 0px;  
  padding: 0px;
  display: none;
  position: relative;
  z-index: 1000;
  min-width: 150px;
  max-width: 100%;   
}

ul.nav-sub li {
  display: block;
  background-color: #333;  
}

ul.nav-sub li.divider {
  height: 1px;
  min-height: 1px;
  padding: 0px;
  border-top: 1px solid #555;
}  

.nav-toggle {  
  position: absolute;  
  width: 40px;
  height: 40px;    
  right: 5px;
  top: 8px;    
  display: none;
  color: #f3f3f3;
  font-size: 30px;
}     

@media all and (max-width: 900px)
{
  .nav-login .not-on-tab {
    display: none;  
  }
  .nav-container {
    width: 92%;  
  }
  .nav-login {
    padding-right: 0px;
    text-align: center;
    border-left: 1px dashed #000;
    width: 8%;  
  }
}

@media all and (max-width: 750px)
{
  .nav .pmicon {
    display: inline-block;
    vertical-align: top;  
  }
  .nav .pmdesc {
    display: inline-block;
    max-width: 10px;
    overflow: hidden;
    white-space: nowrap;  
  }
}

@media all and (max-width: 600px)
{
  .nav-bar {
    border: 0px;
    background-color: transparent;  
  }
  .nav-brand, ul.nav li {
    background-color: #111;  
  }
  .nav-brand {
    width: 100%;
    border-bottom: 1px solid #000;      
  }  
  .nav-login {    
    border-bottom: 1px solid #000;      
  }
  ul.nav li {
    display: block;      
  }  
  ul.nav li:first-child {
    border-top: 1px solid #444;  
  }
  .nav-container {
    background-color: transparent;  
  }
  ul.nav li:last-child {
    border: 1px solid #111;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;      
  }
  ul.nav li:last-child:hover {
    border-color: #888;  
  }  
  ul.nav {    
    display: none;      
  }
  .nav-toggle {
    display: inline-block;  
  }
}

/******************************************************************************/
/* overall_header */

#pageheader #searchbox a {
  text-shadow: none;
  color: #ccc;  
}

/******************************************************************************/
/* overall_breadcrumb */

ul.breadcrumb {
  padding: 10px;
  background-color: #f4f4f4;
  border: 1px solid #f4f4f4;
  border-radius: 5px;
  list-style-type: none;  
}

ul.breadcrumb li {
  display: inline-block;
  padding: 3px;
  box-sizing: border-box;  
}

ul.breadcrumb li ~ li:before {
  color: #aaa;
  content: '/ ';
  letter-spacing: 3px;
}

ul.breadcrumb li a {
  font-size: 11px;  
}

/******************************************************************************/
/* footer related stuff */
#well-footer.well {
  background: #f2f2f2; /* Old browsers */
  background: -moz-linear-gradient(top,  #f2f2f2 0%, #dbdbdb 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f2f2f2 0%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f2f2f2 0%,#dbdbdb 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f2f2f2 0%,#dbdbdb 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f2f2f2 0%,#dbdbdb 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
  position: relative;
}

#well-footer.well .well-footer-left {
  list-style: none;
  display: inline-block;
  margin: 0px;
  vertical-align: middle;  
}

#well-footer.well .well-footer-right {
  list-style: none;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 20px;
}

#well-footer.well .well-footer-right li {
  display: inline-block;
  margin-right: 20px;
}

@media all and (max-width: 800px)
{
  #well-footer.well {
    height: 90px;  
  }
  #well-footer.well .well-footer-left {
    margin-top: 10px;  
  }
  #well-footer.well .well-footer-right {
    padding-left: 40px;
    padding-right: 20px;
    border-left: 1px solid #bbb;
    top: 10px;  
  }
  #well-footer.well .well-footer-right li {
    display: block;
    margin-right: 0px;
    margin-bottom: 5px;    
  }  
}

@media all and (max-width: 500px)
{
  #well-footer.well .well-footer-right {
    padding-left: 10px;
    font-size: 11px;
    padding-right: 0px;  
  }
  #well-footer.well .well-footer-left {
    padding-left: 0px;  
    font-size: 11px;
  }
  #well-footer.well {
    height: 78px;  
  }
}

/********************************************************************/
/* MAIN NAVIGATION */

#wrap .static-nav {
  position: absolute;
  right: 0px;
  width: 18%;
  max-width: 180px;
  height: 50px;
  display: block;
  border-left: 1px dashed #000;
  text-align: center;
  padding-top: 15px;  
  color: #ddd;
  text-decoration: none;
}

#wrap .static-nav:hover {
  background-color: #181515;
}

#wrap .dropdown-account {
  background-color: #333;
}

/********************************************************************/

.pagefooter div {
  padding-right: 20px;
  padding-left: 20px;
}

/********************************************************************/
/* QUICK LOGIN BOX */
#wrap .quicklogin {
  width: 287px;
  margin-right: 10px;
}
#wrap .quicklogin div.row label {
  width: 100px;
  display: inline-block;  
  margin-bottom: 20px;
}
#wrap .quicklogin div.row input {
  width: 150px;
}
@media only screen and (max-device-width: 1199px)
{
  .quicklogin div.row input {
    font-size: 18px !important;  
  }
}

#wrap .quicklogin a.registerlink {      
  margin-bottom: 10px;
  position: relative;
  float: right;
  top: 10px;  
  font-size: 15px;  
}
.quicklogin .btn-primary {
  background-color: #66f;
  width: 100%;
  border-color: #33e;
}
.quicklogin .btn-primary:hover {
  background-color: #33e;
  color: #eee;
}
.quicklogin .chk-autologin {
  font-size: 11px;
  padding: 0px;
  line-height: 18px;
  display: block;
  margin-bottom: 20px;
}
.quicklogin .chk-autologin input[type=checkbox] {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 5px;
}


@media all and (max-width:1000px){
	/** PAGE FOOTER **/
	.pagefooter div {
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 20px;
		width: 100%;
		text-align: center;
		float: none;
	}
}

@media all and (max-width:920px) {
	#wrap div.navigation ul.navbar-nav .pmicon {
	  display: inline-block;
	  vertical-align: top;
	  margin-top: 3px;
	}
	#wrap div.navigation ul.navbar-nav .pmdesc {
	  width: 11px;	  
	  overflow: hidden;
	  white-space: nowrap;
	  display: inline-block;	    	
	}
}

@media all and (max-width:840px) {
        #wrap div.overboxctrl .overboxright {
          display: none;
	}
	#wrap div.overboxctrl .overboxcenter {
	  left:auto;	  
	  right: 0px;
	}	
	
	ul.overall-footer-nav-right li {
	  clear:left;
	}

	ul.overall-footer-nav li {
	  clear:left;
	}

	ul.overall-footer-nav li .responsivenavitem,
	ul.overall-footer-nav-right li .responsivenavitem {
	  padding: 2px;
	  line-height: 20px;
	}

	ul.overall-footer-nav-right li div.responsivenavitem {
	  padding: 2px;
	  margin-top: 2px;
	  line-height: 20px;
	  color: #777;
	}

	ul.overall-footer-nav li a.firstitem,
	ul.overall-footer-nav-right li a.firstitem {
	  padding-top: 10px;
	}
}

@media all and (max-width:600px) {
  /* pull pagination below main toolbar */
  #wrap div.overboxctrl .pagination {
    top: 50px;    
  }

  .responsive-navitem-privmsgs {
    width: 12px;
    overflow-x: hidden;
    white-space: nowrap;
  }
}

@media all and (max-width:486px) {

   #wrap #page-body {
     padding-left: 0px;
     padding-right: 0px;   
   }
   
   #wrap div.navbar .navbar-header .navbar-brand {
     font-size: 15px;
     font-weight: bold;           
   }
  
  /* switch to drop-down navmenu */
  .responsive-nav {
    width: 50%;
    height: 45px;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: height 50ms;
    transition-delay: 100ms;
  }

  #wrap .responsive-nav > li {
    clear: left;
    display: block;
    float: none;
  }

  #wrap .responsive-nav > li a {
    float: left;
    width: 90%;
    border: 1px solid transparent;
    margin-right: 0px;
    margin-left: 5px;
    padding-right: 0px;
  }

  #wrap .responsive-nav > li a:hover {
    background: rgba(0,0,0, 0.3);
    border-radius: 4px;
  }

  .responsive-nav-trigger i {
    color: #999;
    font-size: 21px;
  }
  .responsive-nav-trigger {
    display: block;
    float: left;
    position: relative;
    padding: 10px 5px 10px 5px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
  
  .responsive-nav-trigger:hover > i {
    color: #e3e3e3;
  }
  .responsive-nav-trigger:focus {
    outline: 0px;
  }
  .responsive-nav-trigger:focus + .responsive-nav {
    height: 125px;
  }
  #wrap .overboxctrl div.overboxleft {
    width: 100%;  
    display: block;
    position: relative;
  }
  #wrap .overboxctrl div.overboxcenter {
    width: 100%;
    position: relative;
    display: block;
    text-align: right;
    margin-top: 20px;
    margin-left: 0px;      
  }
  
  #wrap .static-nav .icon-signin,
  #wrap .static-nav .icon-signout {
    font-size: 18px;  
  }  
}

/*.small-select-wrapper, .small-select-wrapper select {
  width: 150px;
} */