body {
  font-size: 13px;
  overflow-x:hidden;
}

@media all and (max-width: 767px) {
  body#phpbb {
    padding-right: 0px;
    padding-left: 0px;
  }
}

a,
a:hover,
a:visited,
a:focus,
a:active {
  outline: 0px none;
}
#pageheader {
  padding: 20px;
  background: #555555 url('./img/fabric_plaid_@2X.png') repeat 0 0;
  background-size: 200px 200px;
  color: #fff;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4);
}
#pageheader .headcontainer {
  clear:both;
}
#pageheader #searchbox {
  margin-top: 20px;
}
#pageheader #searchbox .search-query {
  opacity: 0.8;
}
#pageheader #searchbox .search-query:focus {
  opacity: 1;
}
#pageheader #searchbox a {
  color: #ccc;
}
#pageheader #searchbox a:hover {
  color: #fff;
}
#pageheader p {
  margin: 0;
}
#pageheader p.logo-description {
  font-size: 12px;
}
#page-body {
  padding-left: 5px;
  padding-right: 5px;
}
.lastvisit {
  margin: 0;
  color: #888;
}
.quicklogin {
  margin: 10px 0 0 0;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  display: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 20px;
  z-index: 300;
}
.quicklogin.in {
  display: block;
}
.quicklogin:before,
.quicklogin:after {
  content: '';
  display: block;
  position: absolute;
  top: -13px;
  right: 30px;
  border: 6px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.1);
}
.quicklogin:after {
  border-width: 5px;
  border-bottom-color: #fff;
  top: -10px;
  right: 31px;
}
.quicklogin .checkbox {
  font-size: 12px;
}

/* overall related stuff */

ul.overall-footer-nav-right li div.responsivenavitem {
  color: #777;
  padding: 10px 15px 10px;
  margin-bottom: 2px;
  margin-top: 2px;
  line-height: 14px;
}

@media all and (max-width:770px) {
	ul.overall-footer-nav-right li {
	  clear:left;
	}

	ul.overall-footer-nav li {
	  clear:left;
	}

	ul.overall-footer-nav li .responsivenavitem,
	ul.overall-footer-nav-right li .responsivenavitem {
	  padding: 2px;
	  line-height: 20px;
	}

	ul.overall-footer-nav-right li div.responsivenavitem {
	  padding: 2px;
	  margin-top: 2px;
	  line-height: 20px;
	  color: #777;
	}

	ul.overall-footer-nav li a.firstitem,
	ul.overall-footer-nav-right li a.firstitem {
	  padding-top: 10px;
	}
}

/* index related stuff */

.forumrow-container {
  background: rgba(0, 0, 0, 0.03);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  padding: 5px 20px;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 15px;
}
.forumrow-container .forumrow {
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
  position: relative;
}
.forumrow-container .forumrow.category {
  line-height: 30px;
}
.forumrow-container .forumrow.category .category-title {
  font-weight: 700;
}
.forumrow-container .forumrow.category div {
  color: #888;
}
.forumrow-container .forumrow + .forumrow {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.forumrow-container .forumrow a.feed-icon-forum {
  text-decoration: none;
  color: #f89406;
  font-size: 20px;
  padding-top: 5px;
}
.forumrow-container .forumrow .ministat {
  margin: 5px 0;
  background: #222;
  color: #fff;
  border-radius: 4px;
  padding: 8px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  text-shadow: none;
  width: 100%;
}
.forumrow-container .forumrow .ministat dfn {
  display: block;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 4px;
  font-style: normal;
}
.forumrow-container .forumrow .forum-icon {
  width: 40px;
  height: 40px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-clip: padding-box;
  position: absolute;
  top: 13px;
  left: 0;
}
.forumrow-container .forumrow .forum-title {
  padding-left: 50px;
}
.forumrow-container .forumrow .forum-title h4 {
  margin-bottom: 3px;
}
.forumrow-container .forumrow .forum-title .desc {
  margin-bottom: 4px;
  color: #888;
}
.forumrow-container .forumrow .lastpost {
  padding: 5px;
  margin: 0;
}
.forumrow-container + .forumrow-container {
  margin-top: 15px;
}

.small-select-wrapper, .small-select-wrapper select {
  width: 150px;
}

/* left margin */
.no-left-margin { margin-left: 0px; }
.small-left-margin { margin-left: 10px; }
.medium-left-margin { margin-left: 20px; }
.big-left-margin { margin-left: 40px; }

/* bottom margin */
.no-bottom-margin { margin-bottom: 0px; }
.small-bottom-margin { margin-bottom: 10px; }
.medium-bottom-margin { margin-bottom: 20px; }
.big-bottom-margin { margin-bottom: 40px; }

/* right margin */
.no-right-margin { margin-right: 0px; }
.small-right-margin { margin-right: 10px; }
.medium-right-margin { margin-right: 20px; }
.big-right-margin { margin-right: 40px; }

/* top margin */
.no-top-margin { margin-top: 0px; }
.small-top-margin { margin-top: 10px; }
.medium-top-margin { margin-top: 20px; }
.big-top-margin { margin-top: 40px; }

/* padding */
.no-padding { padding: 0px; }
.small-padding { padding: 10px; }
.medium-padding { padding: 20px; }
.big-padding { padding: 40px; }


/* VIEWFORUM RELATED STUFF */

.viewforum-pagination, .viewtopic-pagination {
  line-height: 25px;
}

.viewtopic-pagination {
  float:right;
}

.greylabel {
  color: #777;
}

.strong {
  font-weight: bold;
}

.linklist li {
  list-style-type: none;
  width: auto;
}

.icon {
  width: 40px;
  height: 40px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-clip: padding-box;
}

.box {
  background: rgba(0, 0, 0, 0.03);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  border-radius: 4px;
}

.box .tablerow {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.box .header {
  font-weight: bold;
  color: #777;
}

label.strong {
  font-weight: bold;
  margin-bottom: 0px;
}

.description {
  font-weight: normal;
  font-size: 12px;
  color:  #888;
}

/* topic related stuff */

.topic-container .topic-post {
  background: rgba(0, 0, 0, 0.03);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  padding: 5px 20px;
  border-radius: 4px;
  margin-bottom: 15px;
  display:block;
}

.topic-container .postprofile {
  width: 17%;
  min-width: 180px;
  min-height: 180px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  white-space: normal;
  vertical-align: top;
}

.topic-container .postprofile dd {
  font-size: 11px;
}

.topic-container .postbody {
  padding-left: 10px;
  overflow: auto;
}

.topic-container .postbody h3 {
  line-height: 20px;
  margin-bottom: 0px;
}

.topic-container .postbody p.author {
  margin-bottom: 20px;
}

.topic-container .post-buttons {

}

.topic-container .postbody .signature {
  margin-top: 30px;
  border-top: 2px solid #ddd;
  margin-bottom: 10px;
  color: #777;
  font-size: 12px;
}

.profile-icons a {
 margin-left: 5px;
 padding: 5px;
 font-size: 10px;
 background: #f2f2f2;
}

.profile-icons a:hover{
  text-decoration: none;
  background: #e7e7e7;
  transition: background 200ms;
}

.profile-icons {
  margin-left: 0px;
}

.postuser {
  margin-top: 5px;
}

.poster-avatar img {
  border: 1px solid transparent;
  border-radius: 5px;
}

.quickreply-editor textarea,
.quickreply-editor input,
.quickreply-buttons {
  width: 90%;
  max-width: 800px;
}

.viewtopic-pagination-left {
  float:left;
}

@media all and (max-width:1030px) {
  .viewtopic-sortby {
    float:left;
  }
  .viewtopic-sortdays {
    float:left;
  }
  .viewtopic-sortby label.medium-left-margin {
    margin-left: 0px;
  }
  .viewtopic-pagination-left {
    float:right;
  }
  .display-options label span.description {
    display:none;
  }
}

@media all and (max-width:850px) {
  .topic-container .postbody h3.postheader {
    margin-top: 50px;
  }
}

@media all and (max-width:780px) {
  .not-on-tab {
    display:none;
  }
}

/* posting related stuff */

.posting-container {
}

.posting-container #message-box .inputbox {
  width:100%;
}

.subjectinput {
  width:50%;
}

/* Memberlist related stuff */

.memberlist {
  background: rgba(0, 0, 0, 0.03);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  padding: 5px 20px;
  overflow: hidden;
  border-radius: 4px;
}

.memberlist table {
  width: 100%;
}

.memberlist th {
  line-height: 40px;
  border-bottom: 1px solid #ccc;
}

.memberlist .ml-row {
  height: 35px;
}

.memberlist .ml-name {
  width: 35%;
  text-align:left;
}

.memberlist .ml-posts {
  width: 10%;
  text-align: center;
}

.memberlist .ml-info {
  width: 25%;
}

.memberlist .ml-joined {
  width: 15%;
  text-align:left;
}

.memberlist .ml-active {
  width: 15%;
  text-align:left;
}

.ml-pagination {
  margin: 0px;
  float:right;
}

/* UCP related stuff */

div.ucp-main {
  border-left: 2px solid #ddd;
  padding-left: 20px;
}

dl.details {
  width:80%;
  max-width: 700px;
}

dl.details dt {
  clear:left;
  float:left;
  width: 20%;
}

dl.details dd {
  float:left;
  text-align:left;
  margin-bottom:20px;
}

fieldset.ucp-profile-details {
  padding: 20px;
}

fieldset.ucp-profile-details dl {
  margin: 0px;
}

.ucp-profile-reg-details dl dt label {
  font-weight: bold;
  margin-bottom: 0px;
}

.ucp-profile-reg-details dl dt span {
  font-weight: normal;
  color:  #888;
}

.ucp-prefs-personal dl dd label,
.ucp-prefs-post dl dd label,
.ucp-prefs-view dl dd label,
.ucp-groups-manage dl dd label {
  float: left;
  margin-left: 10px;
  line-height: 20px;
}

.ucp-prefs-personal dl dd label input,
.ucp-prefs-post dl dd label input,
.ucp-prefs-view dl dd label input,
.ucp-groups-manage dl dd label input,
.ucp-groups-membership div.tablerow input {
  margin-top: 0px;
}