/******************************************************************************/
/* OUR OWN FRAMEWORK BEGINS */

.box {
  padding: 10px;
  background: rgba(0, 0, 0, 0.04);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  border-radius: 4px;
}

.box .header {
  font-weight: bold;
  color: #777;
  font-size: 15px;
}

.box .tablerow {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}

.box .tablerow .icon,
.box .phantomrow .icon {
  width: 40px;
  height: 40px;
  float: left;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-clip: padding-box;
  position: relative;
  top: 10px;
  left: 0;
}

.box .phantomrow .icon {
  top: 3px;
}

.box .tablerow .title,
.box .phantomrow .title {
  padding-top: 2px;
  margin-left: 50px;
}

.box .tablerow .title h4,
.box .phantomrow .title h4 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.box .phantomrow .title h4 {
  margin-top: 2px;
}

.box .tablerow .ministat {
  margin: 5px 0;
  background: #222;
  color: #fff;
  border-radius: 4px;
  padding: 8px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  text-shadow: none;
  width: 100%;
}

.box .tablerow .ministat dfn {
  display: block;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 4px;
  font-style: normal;
}

.box .tablerow a.feed-icon {
  text-decoration: none;
  color: #f89406;
  font-size: 20px;
  padding-top: 5px;
}

.box .tablerow .lastpost {
  margin-top: 10px;
}

.box .tablerow .sent {
  margin-top: 20px;
}

label.strong {
  font-weight: bold;
  margin-bottom: 0px;
}

.description {
  font-weight: normal;
  font-size: 12px;
  color:  #666;
}

/* left margin */
.no-left-margin { margin-left: 0px; }
.small-left-margin { margin-left: 10px; }
.medium-left-margin { margin-left: 20px; }
.big-left-margin { margin-left: 40px; }

/* bottom margin */
.no-bottom-margin { margin-bottom: 0px; }
.small-bottom-margin { margin-bottom: 10px; }
.medium-bottom-margin { margin-bottom: 20px; }
.big-bottom-margin { margin-bottom: 40px; }

/* right margin */
.no-right-margin { margin-right: 0px; }
.small-right-margin { margin-right: 10px; }
.medium-right-margin { margin-right: 20px; }
.big-right-margin { margin-right: 40px; }

/* top margin */
.no-top-margin { margin-top: 0px; }
.small-top-margin { margin-top: 10px; }
.medium-top-margin { margin-top: 20px; }
.big-top-margin { margin-top: 40px; }

/* padding */
.no-padding { padding: 0px; }
.small-padding { padding: 10px; }
.medium-padding { padding: 20px; }
.big-padding { padding: 40px; }

/* bootstrap extensions */
.row-fluid .span1-keepsize { min-width: 50px; width: 6.382978723404255%; }
.row-fluid .span2-keepsize { min-width: 100px; width: 14.893617021276595%;}
.row-fluid .span3-keepsize { min-width: 150px; width: 23.404255319148934%; }
.row-fluid .span4-keepsize { min-width: 200px; width: 31.914893617021278%; }
.row-fluid .span5-keepsize { min-width: 250px; width: 40.42553191489362%; }
.row-fluid .span6-keepsize { min-width: 300px; width: 48.93617021276595%; }
.row-fluid .span7-keepsize { min-width: 350px; width: 57.44680851063829%; }
.row-fluid .span8-keepsize { min-width: 400px; width: 65.95744680851064%; }
.row-fluid .span9-keepsize { min-width: 450px; width: 74.46808510638297%; }
.row-fluid .span10-keepsize { min-width: 500px; width: 82.97872340425532%; }
.row-fluid .span11-keepsize { min-width: 550px; width: 91.48936170212765%; }
.row-fluid .span12-keepsize { width: 100%; }

/* displaying */
.only-on-handheld { display: none; }
.only-on-tab { display: none; }
.only-on-smartphone { display: none; }

/* tablet */
@media all and (max-width:780px) {
  .only-on-handheld,
  .only-on-tab {
    display: block;
  }
  .not-on-tab,
  .not-on-handheld,
  .box .not-on-tab {
    display: none !important;
  }
  .box .tablerow .force-left-on-tab {
    float: left;
  }
  .box .tablerow .force-left-on-tab {
    float: left;
  }
  .row-fluid .span1-keepsize,
  .row-fluid .span2-keepsize,
  .row-fluid .span3-keepsize,
  .row-fluid .span4-keepsize,
  .row-fluid .span5-keepsize,
  .row-fluid .span6-keepsize,
  .row-fluid .span7-keepsize,
  .row-fluid .span8-keepsize,
  .row-fluid .span9-keepsize,
  .row-fluid .span10-keepsize,
  .row-fluid .span11-keepsize,
  .row-fluid .span12-keepsize {
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
  #page-body .btn-toolbar > .btn + .btn,
  #page-body .btn-toolbar > .btn-group + .btn,
  #page-body .btn-toolbar > .btn + .btn-group {
    margin-left: 0px;
    margin-top: 5px;
  }
}

/* smartphone */
@media all and (max-width:486px) {
  .only-on-handheld,
  .only-on-smartphone {
    display: block;
  }
  .not-on-smartphone,
  .not-on-handheld,
  .box .not-on-smartphone {
    display: none !important;
  }
}


/******************************************************************************/
/* GLOBAL STUFF BEGINS */

body#phpbb {
  font-size: 13px;
  overflow-x:hidden;
  padding-right: 0px;
  margin-right: 0px;
  overflow-y: scroll;
}

@media handheld {
  html,body#phpbb {
  }
}

@media all and (max-width: 767px) {
  body#phpbb {
    padding-right: 0px;
    padding-left: 0px;
  }
}

a,
a:hover,
a:visited,
a:focus,
a:active {
  outline: 0px none;
}
#pageheader {
  padding: 20px;
  background: #555555 url('./img/fabric_plaid_@2X.png') repeat 0 0;
  background-size: 200px 200px;
  color: #fff;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4);
}
#pageheader .headcontainer {
  clear:both;
}
#pageheader #searchbox {
  margin-top: 20px;
}
#pageheader #searchbox .search-query {
  opacity: 0.8;
}
#pageheader #searchbox .search-query:focus {
  opacity: 1;
}
#pageheader #searchbox a {
  color: #ccc;
}
#pageheader #searchbox a:hover {
  color: #fff;
}
#pageheader p {
  margin: 0;
}
#pageheader p.logo-description {
  font-size: 12px;
}
@media all and (max-width:1000px) {
	#page-body {
  		padding-left: 5px;
  		padding-right: 5px;
	}
}
#wrap .pagenavbar {
  width: 100%;
  margin-left: 0px;
}
@media all and (max-width:700px) {
  .pagenavbar navbar-inner {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }
}
.responsive-nav-trigger {
  display: none;
}
.responsive-dropdown-trigger {
  color: #999;
  padding: 10px 5px 10px 5px;
  margin-left: 8px;
  cursor: pointer;
}
.responsive-dropdown-trigger:hover {
  color: #fff;
}
.responsive-dropdown-trigger:focus + .responsive-dropdown-menu {
  display: block;
}
@media all and (max-width: 768px) {
  #wrap .quicklogin {
    right: 0px;
    z-index: 3000;
  }
}
.pagefooter {
  width: 100%;
  overflow: hidden;
}

.lastvisit {
  margin: 0;
  color: #888;
}
.quicklogin {
  margin: 10px 0 0 0;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  display: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 20px;
  z-index: 300;
}
.quicklogin.in {
  display: block;
}
.quicklogin:before,
.quicklogin:after {
  content: '';
  display: block;
  position: absolute;
  top: -13px;
  right: 30px;
  border: 6px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.1);
}
.quicklogin:after {
  border-width: 5px;
  border-bottom-color: #fff;
  top: -10px;
  right: 31px;
}
.quicklogin .checkbox {
  font-size: 12px;
}

/******************************************************************************/
/* overall related stuff */

ul.overall-footer-nav-right li div.responsivenavitem {
  color: #777;
  padding: 10px 15px 10px;
  margin-bottom: 2px;
  margin-top: 2px;
  line-height: 14px;
}

@media all and (max-width:770px) {
	ul.overall-footer-nav-right li {
	  clear:left;
	}

	ul.overall-footer-nav li {
	  clear:left;
	}

	ul.overall-footer-nav li .responsivenavitem,
	ul.overall-footer-nav-right li .responsivenavitem {
	  padding: 2px;
	  line-height: 20px;
	}

	ul.overall-footer-nav-right li div.responsivenavitem {
	  padding: 2px;
	  margin-top: 2px;
	  line-height: 20px;
	  color: #777;
	}

	ul.overall-footer-nav li a.firstitem,
	ul.overall-footer-nav-right li a.firstitem {
	  padding-top: 10px;
	}
}

/*.small-select-wrapper, .small-select-wrapper select {
  width: 150px;
} */

/******************************************************************************/
/* VIEWFORUM RELATED STUFF */

.viewforum-pagination, .viewtopic-pagination {
  line-height: 25px;
}

.viewtopic-pagination {
  float:right;
}

.greylabel {
  color: #777;
}

.strong {
  font-weight: bold;
}

.linklist li {
  list-style-type: none;
  width: auto;
}

.box .tablerow .row-fluid .span-lastpost,
.box .header .row-fluid .span-lastpost {
  width: 14%;
}

.responsive-linegroup {
  display: inline-block;
}

#page-body .responsive-toolbar .btn-group > .responsive-linemerge {
  display: inline-block;
}
#page-body .responsive-toolbar .btn-group > .responsive-linemerge .btn {
  border-top-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
}
#page-body .responsive-toolbar .btn-group > .responsive-linemerge .btn-first {
  border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
}
#page-body .responsive-toolbar .btn-group > .responsive-linemerge .btn-last {
  border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  margin-left: -1px;
}

/******************************************************************************/
/* topic related stuff */

.topic-container .topic-post {
  background: rgba(0, 0, 0, 0.03);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  padding: 5px 20px;
  border-radius: 4px;
  margin-bottom: 15px;
  display:block;
}

.topic-container .postprofile {
  width: 17%;
  min-width: 180px;
  min-height: 180px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  white-space: normal;
  vertical-align: top;
}

.topic-container .postprofile dd {
  font-size: 11px;
}

.topic-container .postbody {
  padding-left: 10px;
  overflow: auto;
}

.topic-container .postbody h3 {
  line-height: 20px;
  margin-bottom: 0px;
}

.topic-container .postbody p.author {
  margin-bottom: 20px;
}

.topic-container .post-buttons {

}

.topic-container .postbody .signature {
  margin-top: 30px;
  border-top: 2px solid #ddd;
  margin-bottom: 10px;
  color: #777;
  font-size: 12px;
}

.profile-icons a {
 margin-left: 5px;
 padding: 5px;
 font-size: 10px;
 background: #f2f2f2;
}

.profile-icons a:hover{
  text-decoration: none;
  background: #e7e7e7;
  transition: background 200ms;
}

.profile-icons {
  margin-left: 0px;
}

.postuser {
  margin-top: 5px;
}

.poster-avatar img {
  border: 1px solid transparent;
  border-radius: 5px;
}

.quickreply-editor textarea,
.quickreply-editor input,
.quickreply-buttons {
  width: 90%;
  max-width: 800px;
}

.viewtopic-pagination-left {
  float:left;
}

@media all and (max-width:1030px) {
  .viewtopic-sortby {
    float:left;
  }
  .viewtopic-sortdays {
    float:left;
  }
  .viewtopic-sortby label.medium-left-margin {
    margin-left: 0px;
  }
  .viewtopic-pagination-left {
    float:right;
  }
  .display-options label span.description {
    display:none;
  }
}

@media all and (max-width:850px) {
  .topic-container .postbody h3.postheader {
    margin-top: 50px;
  }
}

/******************************************************************************/
/* posting related stuff */

.posting-container {
}

.posting-container #message-box .inputbox {
  width:100%;
}

.subjectinput {
  width:50%;
}

/******************************************************************************/
/* Memberlist related stuff */

.memberlist {
  background: rgba(0, 0, 0, 0.03);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  padding: 5px 20px;
  overflow: hidden;
  border-radius: 4px;
}

.memberlist table {
  width: 100%;
}

.memberlist th {
  line-height: 40px;
  border-bottom: 1px solid #ccc;
}

.memberlist .ml-row {
  height: 35px;
}

.memberlist .ml-name {
  width: 35%;
  text-align:left;
}

.memberlist .ml-posts {
  width: 10%;
  text-align: center;
}

.memberlist .ml-info {
  width: 25%;
}

.memberlist .ml-joined {
  width: 15%;
  text-align:left;
}

.memberlist .ml-active {
  width: 15%;
  text-align:left;
}

.ml-pagination {
  margin: 0px;
  float:right;
}

/******************************************************************************/
/* UCP related stuff */

div.ucp-main {
  border-left: 2px solid #ddd;
  padding-left: 20px;
}

dl.details {
  width:80%;
  max-width: 700px;
}

dl.details dt {
  clear:left;
  float:left;
  width: 20%;
}

dl.details dd {
  float:left;
  text-align:left;
  margin-bottom:20px;
}

fieldset.ucp-profile-details {
  padding: 20px;
}

fieldset.ucp-profile-details dl {
  margin: 0px;
}

.ucp-profile-reg-details dl dt label {
  font-weight: bold;
  margin-bottom: 0px;
}

.ucp-profile-reg-details dl dt span {
  font-weight: normal;
  color:  #888;
}

.ucp-prefs-personal dl dd label,
.ucp-prefs-post dl dd label,
.ucp-prefs-view dl dd label,
.ucp-groups-manage dl dd label {
  float: left;
  margin-left: 10px;
  line-height: 20px;
}

.ucp-prefs-personal dl dd label input,
.ucp-prefs-post dl dd label input,
.ucp-prefs-view dl dd label input,
.ucp-groups-manage dl dd label input,
.ucp-groups-membership div.tablerow input {
  margin-top: 0px;
}

/******************************************************************************/
/* Special screen sizes */
@media all and (max-width:786px) {
  .box .tablerow .responsive-lastpost {
    margin-left: 50px;
  }
  .box .tablerow .responsive-title {
    width: 74.46808510638297%;
  }
  .box .tablerow .row-fluid .span-lastpost {
    width: 100%;
  }
  #page-body .responsive-mark-forums-read {
    float: right;
  }
}

@media all and (max-width:600px) {
  .box .tablerow .ministat {
    font-size: 13px;
    width: 40px;
    padding: 5px;
    float: left;
  }
  .box .tablerow .row-fluid .responsive-ministat {
    margin-left: 0px;
    margin-right: 3px;
  }
  .box .tablerow .ministat dfn {
    font-size: 8px;
  }
  .box .tablerow .responsive-title {
    min-width: 300px;
  }
  .responsive-navitem-privmsgs {
    width: 12px;
    overflow-x: hidden;
    white-space: nowrap;
  }
}

@media all and (max-width:520px) {
  #page-body .responsive-toolbar .btn-group > .responsive-linegroup {
    display: block;
  }
  #page-body .responsive-toolbar .btn-group > .responsive-linegroup .btn,
  #page-body .responsive-toolbar .btn-group > .responsive-linegroup .btn:first-child {
    border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    margin-top: 5px;
    margin-right: 5px;
    width: 44%;
  }
  #page-body .responsive-toolbar {
    width: 100%;
  }
  #page-body .responsive-toolbar .responsive-left-group {
    float:left;
  }
}

@media all and (max-width:486px) {
  /* pull tablerow title to full length, as ministats are not shown */
  .box .tablerow .responsive-title {
    width: 100%;
    min-width: 100px;
  }
}

@media all and (max-width:470px) {
  /* switch to drop-down navmenu */
  .responsive-nav {
    width: 50%;
    height: 45px;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  #wrap .responsive-nav > li {
    clear: left;
    display: block;
    float: none;
  }

  #wrap .responsive-nav > li a {
    float: left;
    width: 90%;
    border: 1px solid transparent;
    margin-right: 0px;
    margin-left: 5px;
    padding-right: 0px;
  }

  #wrap .responsive-nav > li a:hover {
    background: rgba(0,0,0, 0.3);
    border-radius: 4px;
  }

  .responsive-nav-trigger i {
    color: #999;
    font-size: 21px;
  }
  .responsive-nav-trigger {
    display: block;
    float: left;
    position: relative;
    padding: 10px 5px 10px 5px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
  .responsive-nav-trigger:hover > i {
    color: #e3e3e3;
  }
  .responsive-nav-trigger:focus {
    outline: 0px;
  }
  .responsive-nav-trigger:focus + .responsive-nav {
    height: 125px;
  }
}