/******************************************************************************/
/* topic_post_main */

.topic-container .topic-post {
  background: rgba(0, 0, 0, 0.08);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 20px;
  border-radius: 4px;
  margin-bottom: 15px;
  display:block;
}

/* topic_post_profile */

.topic-container .postprofile {
  width: 20%;
  margin-top: 10px;
  min-width: 180px;
  min-height: 180px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  white-space: normal;
  vertical-align: top;
  font-size: 0px;
}

.topic-container .postprofile .poster-description {
  font-size: 13px;
  max-width: 70%;
  display: inline-block;
}

.topic-container .postprofile .poster-description dl {
  margin-top: 0px;
}

.topic-container .postprofile .poster-description dd {
  margin-left: 0px;
  font-size: 11px;
  color: #666;
}

.topic-container .postprofile .poster-description dd.rank-title {
  color: #666;
}

.topic-container .postprofile .profile-icons {
  padding-left: 0px;
}

.topic-container .postprofile .profile-icons a {
  display: inline-block;
  padding: 5px;
  font-size: 10px;
  background: #dadada;
  border: 1px solid transparent;
  border-radius: 4px;
}
.topic-container .postprofile .profile-icons a ~ a {
  margin-left: 5px;
}
.topic-container .postprofile .profile-icons a:hover {
  text-decoration: none;
  background: #f3f3f3;
  transition: background 200ms;
}

.topic-container .postprofile .avatar {
  max-width: 95px;
}
.topic-container .postprofile .avatar .poster-avatar {
  display: inline-block;
  width: 100%;
}
.topic-container .postprofile .avatar .poster-avatar img {
  border: 1px solid transparent;
  border-radius: 5px;
  height: auto;
}

.postuser {
  margin-top: 5px;
}

.topic-container .postbody {
  padding-top: 5px;
  padding-left: 10px;
  overflow: auto;
}

.topic-container .postbody .content {
  font-size: 14px;
  line-height: 19px;
  color: #1d1d1d;
}

.topic-container .postbody .content blockquote {
  border: 1px solid rgba(0,0,0,0);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 5px;
  padding-right: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.topic-container .postbody .content blockquote div {
  display: inline-block;
  margin-left: 10px;
  margin-top: 2px;    
}

.topic-container .postbody .content blockquote div cite {  
  font-family: Arial;
  font-size: 11px;
  font-weight: bold;
  display: block;  
}

.topic-container .postbody .content blockquote:before {
  content: "\f10e";
  font-family: FontAwesome;
  display: inline-block;
  font-size: 25px;
  color: #aaa;
  margin-left: 5px;  
  vertical-align: top;  
}

.topic-container .postbody .postheader {
  margin-top: 8px;
}

.topic-container .postbody h3 {
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 5px;
}

.topic-container .postbody p.author {
  margin-top: 0px;
  margin-bottom: 20px;
}

.topic-container .postbody .viewtopic-rules {
  background-color: #ffb462;
  border: 1px solid #efa452;
  border-radius: 4px;
  padding: 10px;
}

.topic-container .post-buttons {
  position: relative;
  float: right;
}

.topic-container .post-buttons .btn {
  padding: 6px 10px;
}

.topic-container .postbody .signature {
  margin-top: 30px;
  border-top: 2px solid #ddd;
  margin-bottom: 10px;
  padding-top: 5px;
  color: #777;
  font-size: 12px;
}

.pagination-viewtopic {
  display: block;
  text-align: right;
  margin-top: 30px;
  margin-bottom: 15px;    
}

.viewtopic-pagination-bottom {
  display: block;
  text-align: center;
}

@media all and (max-width:1030px) {
  .viewtopic-sortby {
    float:left;
  }
  .viewtopic-sortdays {
    float:left;
  }
  .viewtopic-sortby label.medium-left-margin {
    margin-left: 0px;
  }
  .display-options label span.description {
    display:none;
  }
  
  #wrap .overboxctrl div.searchbox-viewtopic {
    display: none;  
  }  
}

@media all and (max-width:1000px) {
  .topic-container .postbody h3.postheader {
    margin-top: 40px;
  }
}

@media all and (max-width:768px) {
  .topic-container .postprofile {
    float: none;
    width: 100%;
    border: 0px;
    margin-top: 15px;
    min-height: 20px;
    border-bottom: 1px dotted #ccc;
  }
  .topic-container .postprofile .poster-description {

  }
  .topic-container .postprofile .avatar {
    float: left;
    height: auto;
    max-height: 100%;
    max-width: 95px;
    width: 30%;
    display: inline-block;
    overflow: hidden;
  }
  .topic-container .postprofile .poster-description {
    padding-left: 20px;
  }
  .topic-container .postprofile .avatar img {
    width: 100%;
    height: auto;
    /*max-width: 80px;*/
    /*max-height: 110px;*/
  }
  .topic-container .postbody {
    float: none;
    padding-left: 0px;
  }
  .topic-container .postbody h3.postheader {
    margin-top: 10px;
  }
  .topic-container .topic-post {
    position: relative;  
  }
  .topic-container .postbody .post-buttons {
    position: absolute;
    top: 18px;
    right: 18px;  
  }
  .topic-container .post-quote {
    display: none;
  }
}

@media all and (max-width:650px)
{
  #wrap .topic-container .post-buttons {
    height: 25px;    
  }
  #wrap .topic-container .post-buttons .btn {    
    height: 25px;
    padding-top: 10px;

  }
  #wrap .topic-container .post-buttons .btn i {
    position: relative;
    top: -4px;
    font-size: 12px;
    margin-top: 0px;
    vertical-align: top;
  }
  #wrap .topic-container .postbody .content {
    line-height: 23px;
  }
}

@media all and (max-width:520px)
{
  #wrap .topic-container .postbody .post-buttons {    
    position: relative;
    float: right;
    padding: 0px;
    right: 0px;
    top: 0px;
  }

  #wrap .topic-container .postbody .post-buttons .btn {
    width: 40px;
    padding-left: 13px;
  }
  
  #wrap .topic-container .postbody .postheader {
    margin-top: 60px;  
  }
}

/******************************************************************************/
/* topic_quickreply */

.quickreply-header h4 {
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: normal;
  color: #666;
}

.quickreply-editor textarea,
.quickreply-editor input,
.quickreply-buttons {
  width: 100%;
  max-width: 800px;
}

@media only screen and (max-device-width: 1199px)
{
  .quickreply-editor input,
  .quickreply-editor textarea {
    font-size: 18px !important;
  }
}

@media all and (max-width: 600px)
{
  .quickreply-header h4 {
    margin-top: 0px;
  }
}