/******************************************************************************/
/* topic related stuff */

.topic-container .topic-post {
  background: rgba(0, 0, 0, 0.08);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  padding: 5px 20px;
  border-radius: 4px;
  margin-bottom: 15px;
  display:block;
}

.topic-container .postprofile {
  width: 17%;
  min-width: 180px;
  min-height: 180px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  white-space: normal;
  vertical-align: top;
}

.topic-container .postprofile dd {
  font-size: 11px;
}

.topic-container .postbody {
  padding-left: 10px;
  overflow: auto;
}

.topic-container .postbody h3 {
  line-height: 20px;
  margin-bottom: 0px;
}

.topic-container .postbody p.author {
  margin-bottom: 20px;
}

.topic-container .post-buttons {
  position: relative;
  right: 20px;
}

.topic-container .postbody .signature {
  margin-top: 30px;
  border-top: 2px solid #ddd;
  margin-bottom: 10px;
  color: #777;
  font-size: 12px;
}

.profile-icons a {
 margin-left: 5px;
 padding: 5px;
 font-size: 10px;
 background: #f2f2f2;
}

.profile-icons a:hover{
  text-decoration: none;
  background: #e7e7e7;
  transition: background 200ms;
}

.profile-icons {
  margin-left: 0px;
}

.postuser {
  margin-top: 5px;
}

.poster-avatar img {
  border: 1px solid transparent;
  border-radius: 5px;
}

.quickreply-editor textarea,
.quickreply-editor input,
.quickreply-buttons {
  width: 90%;
  max-width: 800px;
}

.viewtopic-pagination-bottom {
  display: block;
  text-align: center;
}

@media all and (max-width:1030px) {
  .viewtopic-sortby {
    float:left;
  }
  .viewtopic-sortdays {
    float:left;
  }
  .viewtopic-sortby label.medium-left-margin {
    margin-left: 0px;
  }
  .viewtopic-pagination-left {
    float:right;
  }
  .display-options label span.description {
    display:none;
  }
  .topic-container .post-buttons {
    position: absolute;
  }
}

@media all and (max-width:850px) {
  .topic-container .postbody h3.postheader {
    margin-top: 50px;
  }
}

@media all and (max-width:768px) {
  .topic-container .postprofile {
    float: none;
    width: 100%;
    border: 0px;
    margin-top: 15px;
    min-height: 120px;
    border-bottom: 1px dotted #ccc;
  }
  .topic-container .postprofile .poster-description,
  .topic-container .postprofile .avatar {
    float: left;
  }
  .topic-container .postprofile .poster-description {
    margin-left: 20px;
  }
  .topic-container .postprofile .avatar img {
    max-width: 80px;
  }
  .topic-container .postbody {
    float: none;
    padding-left: 0px;
  }
  .topic-container .postbody h3.postheader {
    margin-top: 10px;
  }
  .topic-container .post-quote {
    display: none;
  }
}

@media all and (max-width:500px)
{
  #wrap .topic-container div.post-buttons {
    height: 25px;
    max-width: 160px;
  }
  #wrap .topic-container div.post-buttons .btn {
    height: 25px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 5px;
  }
  #wrap .topic-container div.post-buttons .btn i {
    position: relative;
    top: -4px;
    font-size: 12px;
    margin-top: 0px;
    vertical-align: top;
  }
}