/******************************************************************************/
/* UCP related stuff */

/* UCP Main layout */
.ucp-wrap {
  width: 100%;
  position: relative;
}

.ucp-maintools {
  padding-left: 20%;
}

.ucp-maintools ul {
  list-style: none;
  padding-left: 0px;
  font-size: 12px;
  margin: 0px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.ucp-maintools ul li {
  display: inline-block;
  border: 1px solid #aaa;
  border-bottom: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #eaeaea;
  z-Index: 100;
  position: relative;
  margin-bottom: -1px;
  margin-right: 3px;
}

.ucp-maintools ul li a {
  display: inline-block;
  padding: 15px;
}

.ucp-maintools ul li a:hover {
  text-decoration: none;
}

.ucp-maintools ul li.active {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

.ucp-maintools ul li:hover {
  background-color: #ddd;
}

.ucp-maincontent {
  margin-left: 20%;

  background-color: #fff;
  font-size: 12px;
  border: 1px solid #aaa;
  padding: 10px;
  min-height: 400px;
  z-Index: 0;
  position: relative;
}

.ucp-maincontent h2 ~ * {
  margin-left: 20px;
  margin-right: 20px;
}

.ucp-maincontent h3 {
  margin-top: 30px;
  font-size: 20px;
  font-weight: normal;
}

.ucp-subtools {
  position: absolute;
  width: 20%;
  margin-top: 20px;
}

.ucp-subtools ul {
  list-style: none;
  padding-left: 0px;
  font-size: 12px;
  margin-top: 0px;
}

.ucp-subtools ul li {
  background-color: #eaeaea;
  border: 1px solid #aaa;
  border-right: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-bottom: 2px;
  position: relative;
  margin-right: -1px;
}

.ucp-subtools ul li a {
  padding: 10px 0px 10px 15px;
  display: block;
}

.ucp-subtools ul li a:hover {
  text-decoration: none;
}

.ucp-subtools ul li.active {
  background-color: #fff;
  z-Index: 100;
}

.ucp-subtools ul li:hover {
  background-color: #ddd;
}


.ucp-wrap #cp-menu .cp-mini {
  display: block;
  position: absolute;
  top: 430px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 19%;
  left: 5px;
}

@media all and (max-width: 900px)
{
  .ucp-subtools {
    position: relative;
    width: 100%;
    margin-top: 0px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  .ucp-subtools ul {
    margin-bottom: 0px;
  }
  .ucp-subtools ul li {
    border-right: 1px solid #aaa;
    border-radius: 3px;
    background-color: #f3f3f3;
  }
  .ucp-subtools ul li.active {
    background-color: #fff;
  }
  .ucp-maintools {
    padding-left: 10px;
  }
  .ucp-maincontent {
    margin-left: 0px;
    box-shadow: 3px 3px 10px #777;
  }
}

@media all and (max-width: 500px)
{
  .ucp-maintools,
  .ucp-maintools ul,
  .ucp-maintools ul li {
    font-size: 11px;
  }
  .ucp-maintools ul li a {
    padding: 10px;
  }

  .ucp-subtools ul {
    font-size: 11px;
  }
}


/* Mails */

table.ucp-pm {
  width: 100%;
  border: 1px solid #999;
  border-radius: 5px;
  border-collapse: separate;
  margin-bottom: 10px;
}

table.ucp-pm th,
table.ucp-pm td {
  padding: 8px;
}

table.ucp-pm th {
  background-color: #ccc;
  color: #666;
  font-weight: bold;
  font-size: 15px;
}

table.ucp-pm th:first-child {
  border-top-left-radius: 4px;
}

table.ucp-pm th:last-child {
  border-top-right-radius: 4px;
}

table.ucp-pm td {
  background-color: #f4f4f4;
  color: #000;
}

table.ucp-pm tr ~ tr td {
  border-top: 1px solid #bbb;
}

table.ucp-pm td:first-child {
  border-bottom-left-radius: 4px;
}

table.ucp-pm td:last-child {
  border-bottom-right-radius: 4px;
}

table.ucp-pm td h4 {
  margin-bottom: 4px;
  margin-top: 3px;
}

#pm-viewfolder-options .row-inline {
  min-height: 70px;
}
#pm-viewfolder-options .row-inline div#mark-actions.right {
  display: block;
  margin-top: 10px;
}

@media all and (max-width: 840px)
{
  #pm-viewfolder-options .row-inline div#mark-actions.right {
    display: inline-block;
    margin-top: 0px;
  }
  #pm-viewfolder-options div.row-inline > div#mark-functions {
    right: auto;
    left: 0px;
  }
}
@media all and (max-width: 650px)
{
  #pm-viewfolder-options div.row-inline > div#mark-functions select {
    max-width: 100px;
  }
}

@media all and (max-width: 500px)
{
  table.ucp-pm th {
    font-size: 13px;
  }
  table.ucp-pm td h4 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  #pm-viewfolder-options div.row-inline > div#mark-functions {
    display: none;
  }
}


/* ucp_pm_popup */

.ucp-pm-popup-close {
  font-size: 12px;
  margin-top: 50px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/***********************************************/

fieldset.ucp-profile-details {
  padding: 20px;
}

fieldset.ucp-profile-details dl {
  margin: 0px;
}

.ucp-profile-reg-details dl dt label {
  font-weight: bold;
  margin-bottom: 0px;
}

.ucp-profile-reg-details dl dt span {
  font-weight: normal;
  color:  #888;
}

/**********************************************/
/* ucp_viewmail */

.ucp-pm.box {
  font-size: 0px;
}

.ucp-pm .ucp-pmbuttons {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.ucp-pm .ucp-pmbuttons .btn {
  float: none;
}

.ucp-pm .ucp-pmprofile {
  display: inline-block;
  width: 20%;
  padding-right: 10px;
}
.ucp-pm .ucp-pmprofile dt {
  display: block;
  width: 100%;
  text-align: left;
}
.ucp-pm .ucp-pmprofile dt a {
  display: inline-block;
}
.ucp-pm .ucp-pmprofile dt a img {
  width: 100%;
  height: auto;
  max-width: 130px;
}
.ucp-pm .ucp-pmprofile dt a:first-child {
  font-size: 0px;
}
.ucp-pm .ucp-pmprofile dd {
  margin: 0px;
  padding: 0px;
}
.ucp-pm .ucp-pmprofile dd ~ dd {
  left: 0px;
}
.ucp-pm .ucp-pmprofile .profile-icons {
  list-style: none;
  padding-left: 0px;
}
.ucp-pm .ucp-pmprofile .profile-icons li {
  display: inline-block;
}

.ucp-pm .back2top {
  text-align: right;
}

.ucp-pmbody {
  display: inline-block;
  width: 80%;
  vertical-align: top;
  padding-left: 20px;
  border-left: 1px solid #aaa;
  font-size: 14px;
  color: #222;
}

.ucp-pmbody .signature {
  display: block;
  margin-top: 50px;
  padding-top: 5px;
  border-top: 2px solid #ccc;
  color: #888;
}

@media all and (max-width: 600px)       /* tablet fixes */
{
  .ucp-pm .ucp-pmprofile {
    display: block;
    width: 100%;
    height: auto;
  }
  .ucp-pm .ucp-pmprofile dt {
    width: 20%;
    float: left;
  }
  .ucp-pm .ucp-pmprofile dd {
    float: left;
    width: 70%;
  }
  .ucp-pm .ucp-pmprofile:after {
    clear: left;
  }

  /* by default, .box dl dd ~ dd:last-child gets a bottom margin. So fix this. */
  .ucp-pm .ucp-pmprofile dd:last-child { margin-bottom: 0px; }


  .ucp-pmbody {
    border-top: 1px solid #aaa;
    border-left: 0px;
    padding-left: 0px;
    width: 100%;
  }
}

@media all and (max-width: 400px) 	/* smartphone fixes */
{
  /* by now we simply disable the whole profile. Maybe someday we find a better
    solution for smartphones. However, the sender and the recipient are already
    shown inside the message body by phpbb - so we don't actually need the
    profile here. */
  .ucp-pm .ucp-pmprofile { display: none; }
}



.ucp-pmdisplayoptions .overboxctrl {
  margin-top: 20px;
}
.ucp-pmdisplayoptions .overboxleft {
  margin-left: 20px;
}
.ucp-pmdisplayoptions .overboxright {
  margin-right: 20px;
}