/******************************************************************************/
/* UCP related stuff */



/* UCP Main layout */
.ucp-wrap {
  width: 100%;
  position: relative;
}

.ucp-maintools {
  padding-left: 20%;
}

.ucp-maintools ul {
  list-style: none;
  padding-left: 0px;
  font-size: 12px;
  margin: 0px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.ucp-maintools ul li {
  display: inline-block;
  border: 1px solid #aaa;
  border-bottom: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #eaeaea;
  z-Index: 100;
  position: relative;
  margin-bottom: -1px;
  margin-right: 3px;
}

.ucp-maintools ul li a {
  display: inline-block;  
  padding: 15px;
}

.ucp-maintools ul li a:hover {
  text-decoration: none;
}

.ucp-maintools ul li.active {
  background-color: #fff;
  border-bottom: 1px solid #fff;  
}

.ucp-maintools ul li:hover {
  background-color: #ddd;
}

.ucp-maincontent {
  margin-left: 20%; 

  background-color: #fff;
  font-size: 12px;
  border: 1px solid #aaa;  
  padding: 10px;
  min-height: 400px;
  z-Index: 0;
  position: relative;  
}

.ucp-subtools {
  position: absolute;
  width: 20%;
  margin-top: 20px;    
}

.ucp-subtools ul {
  list-style: none;
  padding-left: 0px;
  font-size: 12px;
  margin-top: 0px;
}

.ucp-subtools ul li {    
  background-color: #eaeaea;
  border: 1px solid #aaa;
  border-right: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-bottom: 2px;
  position: relative;  
  margin-right: -1px;
}

.ucp-subtools ul li a {
  padding: 10px 0px 10px 15px;
  display: block;
}

.ucp-subtools ul li a:hover {
  text-decoration: none;
}

.ucp-subtools ul li.active {
  background-color: #fff;
  z-Index: 100;  
}

.ucp-subtools ul li:hover {
  background-color: #ddd;
}


.ucp-wrap #cp-menu .cp-mini {
  display: block;
  position: absolute;
  top: 430px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 19%;
  left: 5px;
}

@media all and (max-width: 900px)
{
  .ucp-subtools {
    position: relative;
    width: 100%;
    margin-top: 0px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  .ucp-subtools ul {
    margin-bottom: 0px;  
  }
  .ucp-subtools ul li {
    border-right: 1px solid #aaa;
    border-radius: 3px;       
    background-color: #f3f3f3;     
  }
  .ucp-subtools ul li.active {
    background-color: #fff;  
  }
  .ucp-maintools {
    padding-left: 10px;  
  }
  .ucp-maincontent {
    margin-left: 0px;
    box-shadow: 3px 3px 10px #777;      
  }
}

@media all and (max-width: 500px)
{
  .ucp-maintools,
  .ucp-maintools ul,
  .ucp-maintools ul li {
    font-size: 11px;  
  }
  .ucp-maintools ul li a {
    padding: 10px;
  }
  
  .ucp-subtools ul {
    font-size: 11px;  
  }  
}


/* Mails */

table.ucp-pm {
  width: 100%;
  border: 1px solid #999;
  border-radius: 5px;
  border-collapse: separate;
  margin-bottom: 10px;      
}

table.ucp-pm th,
table.ucp-pm td {
  padding: 8px;
}

table.ucp-pm th {
  background-color: #ccc;
  color: #666;
  font-weight: bold;
  font-size: 15px;        
}

table.ucp-pm th:first-child {
  border-top-left-radius: 4px;
}

table.ucp-pm th:last-child {
  border-top-right-radius: 4px;
}

table.ucp-pm td {
  background-color: #f4f4f4;
  color: #000;    
}

table.ucp-pm tr ~ tr td {
  border-top: 1px solid #bbb;
}

table.ucp-pm td:first-child {
  border-bottom-left-radius: 4px;
}

table.ucp-pm td:last-child {
  border-bottom-right-radius: 4px;
}

table.ucp-pm td h4 {
  margin-bottom: 4px;
  margin-top: 3px;
}

@media all and (max-width: 600px)
{
  fieldset#pm-viewfolder-options .row-inline div.left.only-on-tab#pm-tab-markoptions * {
    display: none;
  }
  fieldset#pm-viewfolder-options .row-inline div.left.only-on-tab#pm-tab-markoptions {
    height: 30px;
  }
}

@media all and (max-width: 500px)
{
  table.ucp-pm th {
    font-size: 13px;      
  }
  table.ucp-pm td h4 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;  
  }
}


/* ucp_pm_popup */

.ucp-pm-popup-close {
  font-size: 12px;
  margin-top: 50px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}


/* collumned list */

.ucp-collist {
  display: block;
  position: relative;
}

.ucp-collist dt {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  width: 30%;    
  padding: 10px;
  vertical-align: top;
}

#wrap dl.ucp-collist dt label {
  font-weight: bold;
  margin-left: 0px;
}

.ucp-profile-details .ucp-collist dt,
.ucp-prefs-personal .ucp-collist dt,
.ucp-prefs-post .ucp-collist dt,
.ucp-prefs-view .ucp-collist dt {
  width: 50%;
}

.ucp-profile-details .ucp-collist dd,
.ucp-prefs-personal .ucp-collist dd,
.ucp-prefs-post .ucp-collist dd,
.ucp-prefs-view .ucp-collist dd {
  width: 49%;
}

.ucp-collist dt ~ dt,
.ucp-collist dd ~ dd {
  border-top: 1px solid #ddd;
}

.ucp-collist dd {
  padding: 10px;
  display: inline-block;
  width: 60%;
}

dl.ucp-collist dd ~ dd {
  display: inline-block;
  left: 0px;
  margin: 0px;
}

.ucp-collist dd input,
.ucp-collist dd textarea,
.ucp-collist dd select {
  width: 100%;
}

.ucp-collist dd input[type=radio] {
  width: auto;
}

.ucp-collist dt .description {
  display: block;
}

@media all and (max-width:700px)
{
  .ucp-collist dd {
    width: 60%;  
  }
  .ucp-collist dt {
    width: 40%;  
  }
}

@media all and (max-width:500px)
{
  .ucp-collist dl {
    display: block;
    position: relative;
    width: 100%;  
  }

  dl.ucp-collist dt {
    text-align: left;
  }
  dl.ucp-collist dt label {
    font-size: 13px;
  }

  .ucp-collist dd,
  .ucp-profile-details .ucp-collist dd,
  .ucp-prefs-personal .ucp-collist dd,
  .ucp-prefs-post .ucp-collist dd,
  .ucp-prefs-view .ucp-collist dd {
    display: block;
    position: relative;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;      
  }
  .ucp-collist dd ~ dd {
    border: 0px;  
  }
  .ucp-collist dt,
  .ucp-profile-details .ucp-collist dt,
  .ucp-prefs-personal .ucp-collist dt,
  .ucp-prefs-post .ucp-collist dt,
  .ucp-prefs-view .ucp-collist dt {
    display: block;
    width: 100%;
    padding-bottom: 5px;
    font-size: 15px;
    padding-left: 0px;
    padding-right: 0px;  
  }
  .ucp-collist dd select {
    max-width: 100%;
    min-width: 100%;  
  }  
}

/***********************************************/

fieldset.ucp-profile-details {
  padding: 20px;
}

fieldset.ucp-profile-details dl {
  margin: 0px;
}

.ucp-profile-reg-details dl dt label {
  font-weight: bold;
  margin-bottom: 0px;
}

.ucp-profile-reg-details dl dt span {
  font-weight: normal;
  color:  #888;
}

/**********************************************/
/* ucp_viewmail */

.ucp-pm.box {
  font-size: 0px;
}

.ucp-pm .ucp-pmbuttons {
  display: block;  
  width: 100%;
  margin-bottom: 10px;  
}

.ucp-pm .ucp-pmbuttons .btn {
  float: none;
}

.ucp-pm .ucp-pmprofile {
  display: inline-block;
  width: 20%;
  padding-right: 10px;
}
.ucp-pm .ucp-pmprofile dt {
  display: block;
  width: 100%;
  text-align: left;
}
.ucp-pm .ucp-pmprofile dt a {
  display: inline-block;
}
.ucp-pm .ucp-pmprofile dt a:first-child {
  font-size: 0px;
}
.ucp-pm .ucp-pmprofile dd {
  margin: 0px;
}
.ucp-pm .ucp-pmprofile dd ~ dd {
  left: 0px;
}
.ucp-pm .ucp-pmprofile .profile-icons {
  list-style: none;
  padding-left: 0px;
}
.ucp-pm .ucp-pmprofile .profile-icons li {
  display: inline-block;
}

.ucp-pm .back2top {
  text-align: right;
}

.ucp-pmbody {  
  display: inline-block;
  width: 80%;
  vertical-align: top;
  padding-left: 20px;
  border-left: 1px solid #aaa;
  font-size: 14px;
  color: #222;
}

.ucp-pmbody .signature {
  display: block;
  margin-top: 50px;
  padding-top: 5px;
  border-top: 2px solid #ccc;
  color: #888;
}

.ucp-pmdisplayoptions .overboxctrl {
  margin-top: 20px;    
}
.ucp-pmdisplayoptions .overboxleft {
  margin-left: 20px;
}
.ucp-pmdisplayoptions .overboxright {
  margin-right: 20px;
}