/******************************************************************************/
/* VIEWFORUM RELATED STUFF */

.viewforum-pagination, .viewtopic-pagination {
  line-height: 25px;
}

.viewtopic-pagination {
  float:right;
}

.viewforum-pagination-top {
  list-style-type: none;
  margin: 10px 0px;
  padding: 0px;
  text-align: center;
}

.greylabel {
  color: #777;
}

.strong {
  font-weight: bold;
}

.linklist li {
  list-style-type: none;
  width: auto;
}

.responsive-linegroup {
  display: inline-block;
}

#page-body .responsive-toolbar .btn-group > .responsive-linemerge {
  display: inline-block;
}
#page-body .responsive-toolbar .btn-group > .responsive-linemerge .btn {
  border-top-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
}
#page-body .responsive-toolbar .btn-group > .responsive-linemerge .btn-first {
  border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
}
#page-body .responsive-toolbar .btn-group > .responsive-linemerge .btn-last {
  border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  margin-left: -1px;
}

#page-body .topic-lastpost-head {
  margin-left: 25px;
}

#page-body .topic-lastpost {
  position: relative;
  float: left;
  margin-left: 25px;
}

#page-body .topic-lastpost .link {
  position: relative;
  top: 2px;
  padding-left: 10px;
  font-size: 18px;
}

#page-body .topic-lastpost .delimiter {
  display: none;
}

#page-body .topic-title-head,
#page-body .topic-title {
  width: 60%;
  float: left;
}

#page-body .topic-title {
  height: 62px;
}

#page-body .topic-replies,
#page-body .topic-replies-head {
  min-height: 30px;
  max-width: 100px;
  width: 10%;
  float: left;
  position: relative;
}

#page-body .topic-replies {
  padding-top: 3px;
  height: 59px;
}

#page-body .topic-views,
#page-body .topic-views-head {
  max-width: 100px;
  width: 10%;
  float: left;
  position: relative;
  margin-left: 10px;
}

#page-body .topic-views {
  padding-top: 3px;
  height: 59px;
}

@media all and (max-width: 1280px) {
  .display-options .v-centered {
    float: none;
    clear: both;
    margin-left: 0px;
    margin-top: 10px;
    width: 100%;
  }
}

@media all and (max-width: 1180px) {
  #page-body .topic-lastpost-head {
    display: none;
  }
  #page-body .topic-lastpost {
    clear: left;
    float: none;
    width: 100%;
  }
  #page-body .topic-title,
  #page-body .topic-title-head {
    width: 75%;
  }
}

@media all and (max-width:900px) {
  #page-body .topic-replies, #page-body .topic-replies-head {
    margin-left: 0px;
    min-width: 70px;
  }
}

@media all and (max-width:840px) {

  #page-body .responsive-mark-forums-read {
    float: right;
  }

  #page-body .topic-lastpost {
    clear: left;
    position: relative;
    display: block;
  }

  #page-body .topic-lastpost .lastpost {
    font-size: 12px;
    color: #777;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    top: -5px;
  }

  #page-body .topic-lastpost .delimiter {
    display: inline-block;
  }

  #page-body .topic-title,
  #page-body .topic-title-head {
    width: auto;
  }

  #page-body .topic-replies,
  #page-body .topic-replies-head {
    width: 100px;
    position: relative;
    float: right;
    margin-right: 20px;
  }
  #page-body .viewforum-pagination-top {
    position: relative;
    margin-right: 10px;
    float: right;
    text-align: right;
  }
  #page-body .viewforum-searchbox {
    display: none;
  }
}

@media all and (max-width:600px) {
  #page-body .topic-replies,
  #page-body .topic-replies-head {
    display: none;
  }

  #page-body .topic-title .form-title h4 {
    font-size: 18px;
  }
}

@media all and (max-width:500px) {
  #page-body .topic-title .form-title h4 {
    font-size: 16px;
  }
}