/******************************************************************************/
/* VIEWFORUM RELATED STUFF */

/*.greylabel {
  color: #777;
}*/

.linklist li {
  list-style-type: none;
  width: auto;
}

.pagination-viewforum-top {
  display: inline-block;
  list-style: none;
  padding-left: 0px;
}

div.table-title .table-titletext img {
  float: left;
  margin-right: 5px;
}

/*---------------------------------------------------------*/
/* Media Queries */

@media all and (max-width: 1280px) {
  .display-options .v-centered {
    float: none;
    clear: both;
    margin-left: 0px;
    margin-top: 10px;
    width: 100%;
  }
}

@media all and (max-width: 1130px)
{
  #viewforum-selectsortdays {
    display: none;
  }
}